<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Semesters</v-toolbar-title>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            color="white"
            v-model="query"
            placeholder="Enter the semester's year here"
          ></v-text-field>
          <v-icon class="hidden-sm-and-down">search</v-icon>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-toolbar-items>
            <template v-if="$store.state.user.role==='School Director'">
              <v-spacer></v-spacer>
              <v-btn @click="dialog = !dialog" flat class="hidden-sm-and-down">Create a New Semester</v-btn>
              <v-btn @click="dialog = !dialog" flat class="hidden-lg-and-up">
                <v-icon>add</v-icon>
              </v-btn>
              <v-dialog v-model="dialog" persistent max-width="960px">
                <v-card>
                  <v-card-title>
                    <p class="headline">Create a Semester</p>
                  </v-card-title>

                  <v-card-text>
                    <v-container grid-list-lg>
                      <v-form ref="form" v-model="valid">
                        <v-layout wrap>
                          <v-flex xs12 lg3>
                            <v-menu
                              ref="startDateMenu"
                              :close-on-content-click="false"
                              v-model="startDateMenu"
                              :nudge-right="40"
                              :return-value.sync="startDate"
                              lazy
                              transition="scale-transition"
                              offset-y
                              full-width
                              min-width="290px"
                            >
                              <v-text-field
                                slot="activator"
                                v-model="startDate"
                                label="Start Date"
                                prepend-icon="event"
                                readonly
                                clearable
                                :rules="[v => !!v || `Start Date is required.`]"
                              ></v-text-field>
                              <v-date-picker v-model="startDate" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="startDateMenu = false">Cancel</v-btn>
                                <v-btn
                                  flat
                                  color="primary"
                                  @click="$refs.startDateMenu.save(startDate)"
                                >OK</v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-flex>

                          <v-flex xs12 lg3>
                            <v-menu
                              ref="endDateMenu"
                              :close-on-content-click="false"
                              v-model="endDateMenu"
                              :nudge-right="40"
                              :return-value.sync="endDate"
                              lazy
                              transition="scale-transition"
                              offset-y
                              full-width
                              min-width="290px"
                            >
                              <v-text-field
                                slot="activator"
                                v-model="endDate"
                                label="Start Date"
                                prepend-icon="event"
                                readonly
                                clearable
                                :rules="[v => !!v || `Start Date is required.`]"
                              ></v-text-field>
                              <v-date-picker v-model="endDate" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="endDateMenu = false">Cancel</v-btn>
                                <v-btn
                                  flat
                                  color="primary"
                                  @click="$refs.endDateMenu.save(endDate)"
                                >OK</v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-flex>

                          <v-flex xs12 lg2>
                            <v-text-field
                              label="School Year"
                              v-model="schoolYear"
                              v-validate="'required|digits:4'"
                              clearable
                              :error-messages="errors.collect('School Year')"
                              data-vv-name="School Year"
                            ></v-text-field>
                          </v-flex>

                          <v-flex xs12 lg4>
                            <v-text-field
                              label="What number is this semester in this SY?"
                              v-model="instance"
                              v-validate="'required|min_value:1'"
                              clearable
                              :error-messages="errors.collect('Semester Instance')"
                              data-vv-name="Semester Instance"
                            ></v-text-field>
                          </v-flex>

                          <v-flex
                            xs12
                            :style="{ color: `red`}"
                          >WARNING! Creating a semester will set all students' enrollment status to NOT enrolled after creation.</v-flex>
                        </v-layout>
                      </v-form>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-btn flat color="primary" @click="clearAndCancel">Cancel</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" :disabled="!valid" @click="validate">Submit</v-btn>
                    <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
                    <v-dialog v-model="loaderDialog" persistent width="300">
                      <v-card color="primary" dark>
                        <v-card-text>Creating a semester...
                          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                        </v-card-text>
                      </v-card>
                    </v-dialog>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
          </v-toolbar-items>
        </v-toolbar>
        <v-toolbar color="primary" dark class="hidden-lg-and-up pa-3">
          <v-text-field color="white" v-model="query" placeholder="Enter the semester's year here"></v-text-field>
          <v-icon>search</v-icon>
        </v-toolbar>
        <v-container grid-list-lg>
          <v-layout
            row
            wrap
            :style="{overflow: 'auto', maxHeight: '700px'}"
            v-if="semesterList.length !== 0"
          >
            <v-flex xs12 lg6 v-for="semester in semesterList" :key="semester.id">
              <v-card :key="semester.id" class="pb-2 pt-2">
                <v-card-title
                  primary-title
                  class="headline"
                >A.Y. {{ semester.schoolYear }} - {{ semester.schoolYear + 1 }} --- Semester {{ semester.instance }}</v-card-title>
                <v-card-actions>
                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/semester/${semester._id}`"
                  >Semester Details</v-btn>
                </v-card-actions>
              </v-card>
              <v-divider :key="semester.id"></v-divider>
            </v-flex>
          </v-layout>
          <v-layout
            v-else
            row
            wrap
            :style="{overflow: 'auto', minHeight: '700px', maxHeight: '700px'}"
          >
            <v-flex xs12>
              <v-layout align-center justify-center row fill-height>
                <p class="display-2 text-xs-center">No semester found.</p>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import listAll from "../../mixins/listAll";

export default {
  data() {
    return {
      loaderDialog: false,
      dialog: false,
      valid: true,
      startDate: null,
      endDate: null,
      schoolYear: null,
      instance: null,
      startDateMenu: false,
      endDateMenu: false
    };
  },

  methods: {
    clearAndCancel() {
      this.resetForm();
      this.dialog = false;
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },

    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.loaderDialog = true;
          const payload = {
            startDate: new Date(this.startDate),
            endDate: new Date(this.endDate),
            schoolYear: this.schoolYear,
            instance: this.instance
          };
          this.axios
            .post(
              `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
                this.type
              }`,
              payload,
              { withCredentials: true }
            )
            .then(() => {
              this.loaderDialog = false;
              this.$router.go();
            })
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  },

  computed: {
    semesterList() {
      if (this.query === null || this.query === "") {
        return this.list;
      } else {
        return this.list.filter(
          semester =>
            `${semester.schoolYear} - ${semester.schoolYear + 1}`
              .toLowerCase()
              .indexOf(this.query.toLowerCase()) >= 0
        );
      }
    }
  },
  mixins: [listAll]
};
</script>
