<template>
  <v-container fluid fill-height>
    <v-layout wrap align-center justify-center>
      <v-flex xs12 lg3 offset-lg1 class="text-xs-center">
        <p
          class="display-1 font-weight-light"
        >A.Y. {{ query.schoolYear }} - {{ query.schoolYear + 1 }} --- Semester {{ query.instance }}</p>

        <br>
        <br>

        <p class="headline font-weight-light">ID: {{ query._id }}</p>

        <br>
        <br>
        <br>
        <br>

        <p class="title font-weight-light">Starts at: {{ new Date(query.startDate).toDateString() }}</p>

        <br>
        <br>

        <p class="title font-weight-light">Ends at: {{ new Date(query.endDate).toDateString() }}</p>

        <br>

        <template v-if="$store.state.user.role === `School Director`">
          <v-btn color="primary" @click="editDialog = !editDialog">Edit Semester</v-btn>

          <v-dialog v-model="editDialog" persistent max-width="960px">
            <v-card>
              <v-card-title>
                <p class="headline">Edit this Semester</p>
              </v-card-title>

              <v-card-text>
                <v-container grid-list-lg>
                  <v-form ref="form" v-model="valid">
                    <v-layout wrap>
                      <v-flex xs6 lg3>
                        <v-menu
                          ref="startDateMenu"
                          :close-on-content-click="false"
                          v-model="startDateMenu"
                          :nudge-right="40"
                          :return-value.sync="editsToSemester.startDate"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            v-model="editsToSemester.startDate"
                            label="Start Date"
                            prepend-icon="event"
                            readonly
                            clearable
                            :rules="[v => !!v || `Start Date is required.`]"
                          ></v-text-field>
                          <v-date-picker v-model="editsToSemester.startDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="startDateMenu = false">Cancel</v-btn>
                            <v-btn
                              flat
                              color="primary"
                              @click="$refs.startDateMenu.save(editsToSemester.startDate)"
                            >OK</v-btn>
                          </v-date-picker>
                        </v-menu>
                      </v-flex>

                      <v-flex xs6 lg3>
                        <v-menu
                          ref="endDateMenu"
                          :close-on-content-click="false"
                          v-model="endDateMenu"
                          :nudge-right="40"
                          :return-value.sync="editsToSemester.endDate"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            v-model="editsToSemester.endDate"
                            label="Start Date"
                            prepend-icon="event"
                            readonly
                            clearable
                            :rules="[v => !!v || `Start Date is required.`]"
                          ></v-text-field>
                          <v-date-picker v-model="editsToSemester.endDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="endDateMenu = false">Cancel</v-btn>
                            <v-btn
                              flat
                              color="primary"
                              @click="$refs.endDateMenu.save(editsToSemester.endDate)"
                            >OK</v-btn>
                          </v-date-picker>
                        </v-menu>
                      </v-flex>

                      <v-flex xs6 lg3>
                        <v-text-field
                          label="School Year"
                          v-model="editsToSemester.schoolYear"
                          v-validate="'required|digits:4'"
                          clearable
                          :error-messages="errors.collect('School Year')"
                          data-vv-name="School Year"
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs6 lg3>
                        <v-text-field
                          label="What number is this semester in this SY?"
                          v-model="editsToSemester.instance"
                          v-validate="'required|min_value:1'"
                          clearable
                          :error-messages="errors.collect('Semester Instance')"
                          data-vv-name="Semester Instance"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-btn flat color="primary" @click="clearAndCancel">Cancel</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" :disabled="!valid" @click="validate">Submit</v-btn>
                <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
                <v-dialog v-model="loaderDialog" persistent width="300">
                  <v-card color="primary" dark>
                    <v-card-text>Editing this semester...
                      <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                    </v-card-text>
                  </v-card>
                </v-dialog>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-btn
            color="error"
            @click="dialog = !dialog"
            :disabled="query.classes.length !== 0"
          >Delete Semester</v-btn>
          <div>
            <v-dialog v-model="dialog" width="500">
              <v-card>
                <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

                <v-card-text>Do you really with to delete this semester? Once you proceed, the information will be lost forever!</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </template>
      </v-flex>

      <v-flex xs12 lg5 offset-lg1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Classes</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-text-field
            color="white"
            v-model="searchQuery"
            placeholder="Enter your subject or professor here"
          ></v-text-field>

          <v-icon>search</v-icon>
        </v-toolbar>
        <template v-if="classResults.length !== 0">
          <v-layout row wrap :style="{ maxHeight: '400px', overflow: 'auto'}">
            <v-flex xs12 lg6 v-for="(subject, index) in classResults" :key="index">
              <v-card>
                <v-card-title primary-title class="title">{{ subject.subject.name }}</v-card-title>
                <v-card-title>{{ subject.professor.lastName }}, {{ subject.professor.firstName }} {{ subject.professor.middleName }}</v-card-title>
                <v-card-text>
                  <p>
                    Lecture:
                    <span
                      v-for="(timeslot, index) in subject.schedule.lecture"
                      :key="index"
                    >
                      {{ timeslot.day }}, {{ timeslot.time }} @ {{ timeslot.room }}
                      <span
                        v-if="index < subject.schedule.lecture.length - 1"
                      >,</span>
                    </span>
                  </p>
                  <p v-if="subject.schedule.laboratory.length > 0">
                    Laboratory:
                    <span
                      v-for="(timeslot, index) in subject.schedule.laboratory"
                      :key="index"
                    >
                      {{ timeslot.day }}, {{ timeslot.time }} @ {{ timeslot.room }}
                      <span
                        v-if="index < subject.schedule.laboratory.length - 1"
                      >,</span>
                    </span>
                  </p>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/class/${subject._id}`"
                  >Class Details</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <v-layout
            align-center
            justify-center
            row
            fill-height
            :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}"
          >
            <p class="display-2 text-xs-center">No classes found.</p>
          </v-layout>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";

export default {
  data() {
    return {
      startDateMenu: false,
      endDateMenu: false,
      searchQuery: null,
      editDialog: false,
      loaderDialog: false,
      valid: true,
      editsToSemester: null
    };
  },

  computed: {
    classResults() {
      if (this.searchQuery === null || this.searchQuery === "") {
        return this.query.classes;
      } else {
        return this.query.classes.filter(
          subject =>
            subject.subject.name
              .toLowerCase()
              .indexOf(this.searchQuery.toLowerCase()) >= 0 ||
            `${subject.professor.lastName}, ${subject.professor.firstName} ${
              subject.professor.middleName
            }`
              .toLowerCase()
              .indexOf(this.searchQuery.toLowerCase()) >= 0
        );
      }
    }
  },

  watch: {
    query() {
      this.editsToSemester = JSON.parse(JSON.stringify(this.query));
      this.editsToSemester.startDate = new Date(this.editsToSemester.startDate)
        .toISOString()
        .substr(0, 10);
      this.editsToSemester.endDate = new Date(this.editsToSemester.endDate)
        .toISOString()
        .substr(0, 10);
    }
  },

  methods: {
    clearAndCancel() {
      this.resetForm();
      this.editDialog = false;
    },

    resetForm() {
      this.editsToSemester = JSON.parse(JSON.stringify(this.query));
      this.editsToSemester.startDate = new Date(this.editsToSemester.startDate)
        .toISOString()
        .substr(0, 10);
      this.editsToSemester.endDate = new Date(this.editsToSemester.endDate)
        .toISOString()
        .substr(0, 10);
      this.$validator.reset();
    },

    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.loaderDialog = true;
          this.axios
            .patch(
              `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
                this.type
              }/${this.id}`,
              this.editsToSemester,
              { withCredentials: true }
            )
            .then(() => {
              this.loaderDialog = false;
              this.$router.go();
            })
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  },

  mixins: [updateID]
};
</script>
