<template>
  <v-container fluid fill-height>
    <v-layout wrap justify-center align-center>
      <v-flex xs12 lg3 offset-lg1 class="text-xs-center">
        <p class="display-1 font-weight-light">
          {{ `${query.course}${query.yearLevel}0${
          query.semester.instance
          }${`abcdefghijklmnopqrstuvwxyz`
          .split("")
          [query.number - 1].toUpperCase()}` }}
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p class="headline font-weight-light">ID: {{query._id}}</p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <v-menu offset-y v-if="$store.state.user.role === 'Program Head'">
          <v-btn slot="activator" color="primary">Sections Actions</v-btn>
          <v-list>
            <v-list-tile @click="addStudentDialog = !addStudentDialog">Add a Student</v-list-tile>
            <v-list-tile @click="removeStudentDialog = !removeStudentDialog">Remove a Student</v-list-tile>
            <v-list-tile @click="transferStudentDialog = !transferStudentDialog">Transfer a Student</v-list-tile>
            <v-list-tile
              @click="listEligibleStudentsDialog = !listEligibleStudentsDialog"
            >Get a List of Eligible Students</v-list-tile>
          </v-list>
        </v-menu>
        <v-dialog v-model="addStudentDialog" width="500" persistent>
          <v-form ref="addForm" v-model="valid">
            <v-card>
              <v-card-title primary-title class="title">Add a student to this Section</v-card-title>
              <v-card-text>
                <v-autocomplete
                  v-validate="'required'"
                  :error-messages="errors.collect(`Student`)"
                  data-vv-name="Student"
                  multiple
                  v-model="selectedStudent"
                  :hint="!isEditingStudent ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="studentsNotInSection"
                  :readonly="!isEditingStudent"
                  :label="`Student — ${isEditingStudent ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplayStudent"
                  :filter="customFilterStudent"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingStudent ? 'success' : 'info'"
                      :key="`icon-${isEditingStudent}`"
                      @click="isEditingStudent = !isEditingStudent"
                      v-text="isEditingStudent ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  dark
                  color="primary"
                  @click="submitStudents(selectedStudent)"
                  :disabled="!valid"
                >Submit</v-btn>
                <v-btn @click="closeAndResetAddStudentDialog()">Cancel</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>

        <v-dialog v-model="removeStudentDialog" width="500" persistent>
          <v-card>
            <v-card-title primary-title class="title">Remove a student from this Section</v-card-title>
            <v-card-text>
              <v-form ref="removeForm" v-model="valid">
                <v-autocomplete
                  multiple
                  v-validate="'required'"
                  :error-messages="errors.collect(`Student`)"
                  data-vv-name="Student"
                  v-model="selectedStudent"
                  :hint="!isEditingStudent ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="query.students"
                  :readonly="!isEditingStudent"
                  :label="`Student — ${isEditingStudent ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplayStudent"
                  :filter="customFilterStudent"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingStudent ? 'success' : 'info'"
                      :key="`icon-${isEditingStudent}`"
                      @click="isEditingStudent = !isEditingStudent"
                      v-text="isEditingStudent ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn
                dark
                color="primary"
                @click="submitRemoveStudents(selectedStudent)"
                :disabled="!valid"
              >Submit</v-btn>
              <v-btn @click="closeAndResetRemoveStudentDialog()">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="transferStudentDialog" width="500" persistent>
          <v-card>
            <v-card-title primary-title class="title">Transfer a student from this Section</v-card-title>
            <v-card-text>
              <v-form ref="transferForm" v-model="valid">
                <v-autocomplete
                  multiple
                  v-model="selectedStudent"
                  v-validate="'required'"
                  :error-messages="errors.collect(`Student`)"
                  data-vv-name="Student"
                  :hint="!isEditingStudent ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="query.students"
                  :readonly="!isEditingStudent"
                  :label="`Student — ${isEditingStudent ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplayStudent"
                  :filter="customFilterStudent"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingStudent ? 'success' : 'info'"
                      :key="`icon-${isEditingStudent}`"
                      @click="isEditingStudent = !isEditingStudent"
                      v-text="isEditingStudent ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>

                <v-autocomplete
                  v-model="selectedSection"
                  v-validate="'required'"
                  :error-messages="errors.collect(`Section`)"
                  data-vv-name="Section"
                  :hint="!isEditingSection ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="sectionsExceptThis"
                  :readonly="!isEditingSection"
                  :label="`Section — ${isEditingSection ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplaySection"
                  :filter="customFilterSection"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingSection ? 'success' : 'info'"
                      :key="`icon-${isEditingSection}`"
                      @click="isEditingSection = !isEditingSection"
                      v-text="isEditingSection ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn
                dark
                color="primary"
                @click="submitTransferStudents(selectedStudent, selectedSection)"
                :disabled="!valid"
              >Submit</v-btn>
              <v-btn @click="closeAndResetTransferStudentDialog()">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="listEligibleStudentsDialog" width="500">
          <v-card>
            <v-card-title primary-title class="title">Eligible Students for this Section</v-card-title>
            <v-card-text v-if="eligibleStudents.length > 0">
              <p class="subheading">Here are the list of the students:</p>
              <ul>
                <li
                  v-for="(student, index) in eligibleStudents"
                  :key="`eligibleStudent ${index}`"
                >{{ student.lastName }}, {{ student.firstName }} {{ student.middleName }}</li>
              </ul>
            </v-card-text>
            <v-card-text v-else>
              <p class="subheading">No Eligible Students found.</p>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-btn
          color="error"
          @click="dialog = true"
          v-if="$store.state.user.role === 'Program Head'"
        >Delete this Section</v-btn>

        <div>
          <v-dialog v-model="dialog" width="500">
            <v-card>
              <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

              <v-card-text>Do you really with to delete this section? Once you proceed, the information will be lost forever!</v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-flex>

      <v-flex xs12 lg5 offset-lg1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Students</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-text-field
            color="white"
            v-model="searchQuery"
            placeholder="Enter the student's name here"
          ></v-text-field>
          <v-btn icon>
            <v-icon>search</v-icon>
          </v-btn>
        </v-toolbar>
        <template v-if="studentList.length !== 0">
          <v-layout wrap :style="{ maxHeight: `400px`, overflow: `auto`}">
            <v-flex xs12 v-for="(student, index) in studentList" :key="`student ${index}`">
              <v-card>
                <v-card-title
                  primary-title
                  class="title"
                >{{ student.lastName }}, {{ student.firstName }} {{ student.middleName }}</v-card-title>
                <v-btn
                  dark
                  color="primary"
                  :to="`/${$store.state.userGroup}/student/${student._id}`"
                >Student Details</v-btn>
              </v-card>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <v-layout
            align-center
            justify-center
            row
            fill-height
            :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}"
          >
            <p class="display-2 text-xs-center">No students found.</p>
          </v-layout>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";
export default {
  data() {
    return {
      searchQuery: null,
      dialog: false,
      addStudentDialog: false,
      removeStudentDialog: false,
      transferStudentDialog: false,
      listEligibleStudentsDialog: false,
      selectedStudent: null,
      selectedSection: null,
      students: [],
      sections: [],
      eligibleStudents: [],
      isEditingStudent: false,
      isEditingSection: false,
      valid: true
    };
  },

  created() {
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/student`,
        { withCredentials: true }
      )
      .then(response => (this.students = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });

    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/section`,
        { withCredentials: true }
      )
      .then(response => (this.sections = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });

    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/section/${
          this.id
        }/eligibleStudents`,
        { withCredentials: true }
      )
      .then(response => (this.eligibleStudents = response.data))
      .catch(() => {
        this.eligibleStudents = [];
      });
  },

  computed: {
    studentList() {
      if (this.searchQuery === null || this.searchQuery === ``) {
        return this.query.students;
      } else {
        return this.query.students.filter(
          student =>
            `${student.lastName}, ${student.firstName} ${student.middleName}`
              .toLowerCase()
              .indexOf(this.searchQuery.toLowerCase()) >= 0
        );
      }
    },

    studentsNotInSection() {
      return this.students.filter(
        student =>
          !this.query.students
            .map(studentInSection => studentInSection._id.toString())
            .includes(student._id.toString())
      );
    },

    sectionsExceptThis() {
      return this.sections.filter(
        section => section._id.toString() !== this.query._id.toString()
      );
    }
  },

  methods: {
    customDisplaySection(item) {
      return `${item.course}${item.yearLevel}0${
        item.semester.instance
      }${`abcdefghijklmnopqrstuvwxyz`
        .split("")
        [item.number - 1].toUpperCase()}`;
    },

    customFilterSection(item, query) {
      return (
        `${item.course}${item.yearLevel}0${
          item.semester.instance
        }${`abcdefghijklmnopqrstuvwxyz`
          .split("")
          [item.number - 1].toUpperCase()}`
          .toLowerCase()
          .indexOf(query.toLowerCase()) >= 0
      );
    },

    customDisplayStudent(item) {
      return `${item.lastName}, ${item.firstName}, ${item.middleName}`;
    },

    customFilterStudent(item, query) {
      return (
        `${item.lastName}, ${item.firstName}, ${item.middleName}`
          .toLowerCase()
          .indexOf(query.toLowerCase()) >= 0
      );
    },

    submitStudents(students) {
      const payload = {
        id: students
      };
      this.axios
        .patch(
          `${this.$store.state.url}/${
            this.$store.state.userGroup
          }/api/section/${this.id}/student`,
          payload,
          { withCredentials: true }
        )
        .then(() => this.$router.go())
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    },

    submitRemoveStudents(students) {
      const payload = {
        id: students
      };
      this.axios
        .delete(
          `${this.$store.state.url}/${
            this.$store.state.userGroup
          }/api/section/${this.id}/student`,
          payload,
          { withCredentials: true }
        )
        .then(() => this.$router.go())
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    },

    submitTransferStudents(students, section) {
      const payload = {
        id: students,
        section
      };
      this.axios
        .patch(
          `${this.$store.state.url}/${
            this.$store.state.userGroup
          }/api/section/${this.id}/student/transfer`,
          payload,
          { withCredentials: true }
        )
        .then(() => this.$router.go())
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    },

    closeAndResetAddStudentDialog() {
      this.$refs.addForm.reset();
      this.$validator.reset();
      this.isEditingStudent = false;
      this.addStudentDialog = false;
      this.selectedStudent = null;
    },

    closeAndResetRemoveStudentDialog() {
      this.$refs.removeForm.reset();
      this.$validator.reset();
      this.isEditingStudent = false;
      this.removeStudentDialog = false;
      this.selectedStudent = null;
    },

    closeAndResetTransferStudentDialog() {
      this.$refs.transferForm.reset();
      this.$validator.reset();
      this.isEditingStudent = false;
      this.isEditingSection = false;
      this.transferStudentDialog = false;
      this.selectedStudent = null;
      this.selectedSection = null;
    }
  },

  mixins: [updateID]
};
</script>
