<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Sections</v-toolbar-title>
          <v-checkbox
            slot="extension"
            :label="`Include previous semesters`"
            v-model="isIncludingPreviousSemester"
          ></v-checkbox>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            color="white"
            v-model="query"
            placeholder="Enter the section name here"
          ></v-text-field>
          <v-icon class="hidden-sm-and-down">search</v-icon>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <template v-if="$store.state.user.role==='Program Head'">
            <v-spacer></v-spacer>
            <v-btn
              dark
              flat
              @click="dialog = !dialog"
              class="hidden-sm-and-down"
            >Create a New Section</v-btn>
            <v-btn flat dark @click="dialog = !dialog" class="hidden-lg-and-up">
              <v-icon>add</v-icon>
            </v-btn>
            <v-dialog v-model="dialog" persistent max-width="960px">
              <v-card>
                <v-card-title>
                  <p class="headline">Create a Section</p>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-lg>
                    <v-form ref="form" v-model="valid">
                      <v-layout wrap>
                        <v-flex xs12 lg2>
                          <v-text-field
                            label="Section Number"
                            v-model.number="sectionNumber"
                            v-validate="'required|min_value:1'"
                            clearable
                            :error-messages="errors.collect('Section Number')"
                            data-vv-name="Section Number"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 lg4>
                          <v-autocomplete
                            v-model="sectionSemester"
                            :hint="!isEditingSemester ? 'Click the icon to edit' : 'Click the icon to save'"
                            :items="semesterList"
                            :readonly="!isEditingSemester"
                            :label="`Semester — ${isEditingSemester ? 'Editable' : 'Read only'}`"
                            persistent-hint
                            :item-text="customDisplaySemester"
                            :filter="customFilterSemester"
                            item-value="_id"
                          >
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                              <v-icon
                                :color="isEditingSemester ? 'success' : 'info'"
                                :key="`icon-${isEditingSemester}`"
                                @click="isEditingSemester = !isEditingSemester"
                                v-text="isEditingSemester ? 'check' : 'edit'"
                              ></v-icon>
                            </v-slide-x-reverse-transition>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 lg4>
                          <v-autocomplete
                            v-model="sectionCourse"
                            :hint="!isEditingCourse ? 'Click the icon to edit' : 'Click the icon to save'"
                            :items="curriculumList"
                            :readonly="!isEditingCourse"
                            :label="`Course — ${isEditingCourse ? 'Editable' : 'Read only'}`"
                            persistent-hint
                            :item-text="customDisplayCourse"
                            :filter="customFilterCourse"
                            item-value="course"
                          >
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                              <v-icon
                                :color="isEditingCourse ? 'success' : 'info'"
                                :key="`icon-${isEditingCourse}`"
                                @click="isEditingCourse = !isEditingCourse"
                                v-text="isEditingCourse ? 'check' : 'edit'"
                              ></v-icon>
                            </v-slide-x-reverse-transition>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 lg2>
                          <v-text-field
                            label="Year Level"
                            v-model.number="sectionYearLevel"
                            v-validate="'required|min_value:1'"
                            clearable
                            :error-messages="errors.collect('Year Level')"
                            data-vv-name="Year Level"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-btn flat color="primary" @click="clearAndCancel">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" :disabled="!valid" @click="validate">Submit</v-btn>
                  <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
                  <v-dialog v-model="loaderDialog" persistent width="300">
                    <v-card color="primary" dark>
                      <v-card-text>Creating a section...
                        <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
        </v-toolbar>
        <v-toolbar color="primary" dark class="hidden-lg-and-up pa-3">
          <v-text-field color="white" v-model="query" placeholder="Enter the section name here"></v-text-field>
          <v-icon>search</v-icon>
        </v-toolbar>
        <v-container grid-list-lg>
          <v-layout
            row
            wrap
            :style="{overflow: 'auto', maxHeight: '700px'}"
            v-if="sectionList.length !== 0"
          >
            <v-flex xs12 lg6 v-for="section in sectionList" :key="section.id">
              <v-card :key="section.id" class="pb-2 pt-2">
                <v-card-title primary-title class="headline">
                  {{ `${section.course}${section.yearLevel}0${
                  section.semester.instance
                  }${`abcdefghijklmnopqrstuvwxyz`
                  .split("")
                  [section.number - 1].toUpperCase()}` }}
                </v-card-title>
                <v-card-title
                  class="headline"
                >A.Y. {{ section.semester.schoolYear }} - {{ section.semester.schoolYear + 1 }} --- Semester {{ section.semester.instance }}</v-card-title>
                <v-card-actions>
                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/section/${section._id}`"
                  >Section Details</v-btn>
                </v-card-actions>
              </v-card>
              <v-divider :key="section.id"></v-divider>
            </v-flex>
          </v-layout>
          <v-layout
            v-else
            row
            wrap
            :style="{overflow: 'auto', minHeight: '700px', maxHeight: '700px'}"
          >
            <v-flex xs12>
              <v-layout align-center justify-center row fill-height>
                <p class="display-2 text-xs-center">No sections found.</p>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import listAll from "../../mixins/listAll";

export default {
  data() {
    return {
      isIncludingPreviousSemester: false,
      list: [],
      dialog: false,
      loaderDialog: false,
      valid: true,
      isEditingSemester: false,
      isEditingCourse: false,
      sectionNumber: null,
      sectionYearLevel: null,
      sectionSemester: null,
      sectionCourse: null,
      curriculumList: [],
      semesterList: []
    };
  },

  created() {
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/semester`,
        { withCredentials: true }
      )
      .then(response => (this.semesterList = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
    this.axios
      .get(
        `${this.$store.state.url}/${
          this.$store.state.userGroup
        }/api/curriculum`,
        { withCredentials: true }
      )
      .then(response => (this.curriculumList = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  },

  computed: {
    currentSectionList() {
      if (!this.isIncludingPreviousSemester) {
        const highestYear = Math.max(
          ...this.list.map(section => section.semester.schoolYear)
        );
        const highestInstance = Math.max(
          ...this.list.map(section => section.semester.instance)
        );
        return this.list.filter(
          section =>
            section.semester.schoolYear === highestYear &&
            section.semester.instance === highestInstance
        );
      } else {
        return this.list;
      }
    },
    sectionList() {
      if (this.query === null || this.query === "") {
        return this.currentSectionList;
      } else {
        return this.currentSectionList.filter(
          section =>
            `${section.course}${section.yearLevel}0${
              section.semester.instance
            }${`abcdefghijklmnopqrstuvwxyz`
              .split("")
              [section.number - 1].toUpperCase()}`
              .toLowerCase()
              .indexOf(this.query.toLowerCase()) >= 0
        );
      }
    }
  },

  methods: {
    customFilterSemester(item, query) {
      return `A.Y. ${item.schoolYear} - ${item.schoolYear + 1} --- Semester ${
        item.instance
      }`
        .toLowerCase()
        .indexOf(query.toLowerCase());
    },

    customDisplaySemester(item) {
      return `A.Y. ${item.schoolYear} - ${item.schoolYear + 1} --- Semester ${
        item.instance
      }`;
    },

    customFilterCourse(item, query) {
      return `${item.course} - ${item.year}`
        .toLowerCase()
        .indexOf(query.toLowerCase());
    },

    customDisplayCourse(item) {
      return `${item.course} - ${item.year}`;
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },

    clearAndCancel() {
      this.resetForm();
      this.dialog = false;
    },

    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.loaderDialog = true;
          const payload = {
            number: this.sectionNumber,
            yearLevel: this.sectionYearLevel,
            course: this.sectionCourse,
            semester: this.sectionSemester
          };

          this.axios
            .post(
              `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
                this.type
              }`,
              payload,
              { withCredentials: true }
            )
            .then(() => {
              this.loaderDialog = false;
              this.$router.go();
            })
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  },

  mixins: [listAll]
};
</script>
