<template>
  <v-container fluid grid-list-lg>
    <v-layout row>
      <v-flex xs12 lg4 offset-lg4>
        <p
          class="display-1 font-weight-light"
        >{{ query.lastName }}, {{ query.firstName }} {{ query.middleName }}</p>

        <br>
        <v-divider></v-divider>
        <br>
        <p class="subheading">ID: {{ query._id }}</p>
        <template v-if="user.role===`Program Head`">
          <p class="subheading">E-mail: {{ query.email }}</p>
          <v-divider></v-divider>
          <br>
          <p class="subheading">Birthday: {{ (new Date(query.birthday)).toDateString() }}</p>
          <p class="subheading">Gender: {{ query.gender | capitalize }}</p>
          <p class="subheading">Civil Status: {{ query.civilStatus }}</p>
          <p
            class="subheading"
          >Address: {{ `${query.houseNumber} ${query.street} St., Brgy. ${query.barangay}, ${query.city}, ${query.province}` }}</p>
          <v-divider></v-divider>
          <br>
          <p class="subheading">
            Departments:
            <span
              v-for="(item, index) in query.department"
              :key="index"
            >{{ item }} &nbsp;</span>
          </p>
          <p class="subheading">
            is Currently Employed?:
            <span
              :class="this.user.isCurrentlyEmployed ? `green--text` : `red--text`"
            >{{ this.user.isCurrentlyEmployed ? `Yes` : `No` }}</span>
          </p>
          <v-divider></v-divider>
          <br>
          <div>
            <v-dialog v-model="dialog" width="500">
              <v-card>
                <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

                <v-card-text>Do you really with to delete this account? Once you proceed, the information will be lost forever!</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <br>
          <p class="headline">Credentials</p>
          <div v-for="(credential, index) in query.credentials" :key="index">
            <div class="subheading">
              <v-layout row wrap>
                <v-flex xs12>
                  <span>School Name: {{credential.schoolName}}</span>
                </v-flex>
                <v-flex xs12>
                  <span>Year Graduated: {{credential.yearGraduated}}</span>
                </v-flex>
                <v-flex xs12>
                  <span>Educational Level: {{credential.educationalLevel}}</span>
                </v-flex>
              </v-layout>
            </div>
            <br>
            <br>
          </div>
          <v-divider></v-divider>
          <br>
          <br>
          <v-btn
            color="primary"
            :to="`/${this.$store.state.userGroup}/faculty/${this.$route.params.id}/edit`"
          >Edit Profile</v-btn>
          <v-btn color="error" @click="dialog = !dialog">Delete Profile</v-btn>
          <br>
          <br>
          <br>
          <br>
          <br>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>Classes</v-toolbar-title>
            <v-checkbox
              slot="extension"
              :label="`Show All Classes`"
              v-model="isCurrentSemesterOnly"
            ></v-checkbox>
            <v-spacer></v-spacer>
            <v-text-field
              color="white"
              v-model="searchQuery"
              placeholder="Enter your subject name here"
            ></v-text-field>
            <v-btn icon>
              <v-icon>search</v-icon>
            </v-btn>
          </v-toolbar>

          <template v-if="classResults.length !== 0">
            <v-layout row wrap :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}">
              <v-flex xs12 lg6 v-for="(subject, index) in classResults" :key="index">
                <v-card>
                  <v-card-title primary-title class="headline">{{ subject.subject.name }}</v-card-title>
                  <v-card-title>A.Y. {{ subject.semester.schoolYear }} - {{ subject.semester.schoolYear + 1 }} --- Semester {{ subject.semester.instance }}</v-card-title>
                  <v-card-text>
                    <p>
                      Lecture:
                      <span
                        v-for="(timeslot, index) in subject.schedule.lecture"
                        :key="index"
                      >
                        {{ timeslot.day }}, {{ timeslot.time }} @ {{ timeslot.room }}
                        <span
                          v-if="index < subject.schedule.lecture.length - 1"
                        >,</span>
                      </span>
                    </p>
                    <p v-if="subject.schedule.laboratory.length > 0">
                      Laboratory:
                      <span
                        v-for="(timeslot, index) in subject.schedule.laboratory"
                        :key="index"
                      >
                        {{ timeslot.day }}, {{ timeslot.time }} @ {{ timeslot.room }}
                        <span
                          v-if="index < subject.schedule.laboratory.length - 1"
                        >,</span>
                      </span>
                    </p>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      dark
                      color="primary"
                      :to="`/${$store.state.userGroup}/class/${subject._id}`"
                    >Class Details</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </template>
          <template v-else>
            <v-layout
              align-center
              justify-center
              row
              fill-height
              :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}"
            >
              <p class="display-2 text-xs-center">No classes found.</p>
            </v-layout>
          </template>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";
import queryClasses from "../../mixins/queryClasses";
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState([`user`])
  },

  mixins: [updateID, queryClasses]
};
</script>
