<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Faculty Members</v-toolbar-title>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            color="white"
            v-model="query"
            placeholder="Enter the faculty member's name here"
          ></v-text-field>
          <v-icon class="hidden-sm-and-down">search</v-icon>
          <template v-if="$store.state.user.role==='Program Head'">
            <v-spacer></v-spacer>
            <v-btn
              class="hidden-sm-and-down"
              flat
              :to="`/${this.$store.state.userGroup}/faculty/create`"
            >Sign up a Faculty Member</v-btn>
            <v-btn
              :to="`/${this.$store.state.userGroup}/faculty/create`"
              flat
              class="hidden-lg-and-up"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </template>
        </v-toolbar>
        <v-toolbar color="primary" dark class="hidden-lg-and-up pa-3">
          <v-text-field
            color="white"
            v-model="query"
            placeholder="Enter the faculty member's name here"
          ></v-text-field>
          <v-icon>search</v-icon>
        </v-toolbar>
        <v-container grid-list-lg>
          <v-layout
            v-if="facultyQuery.length !== 0"
            row
            wrap
            :style="{overflow: 'auto', maxHeight: '700px'}"
          >
            <template v-for="faculty in facultyQuery">
              <v-flex xs12 lg6 :key="faculty.id">
                <v-card :key="faculty.id" class="pb-2 pt-2">
                  <v-card-title
                    primary-title
                    class="headline"
                  >{{ faculty.lastName }}, {{ faculty.firstName }} {{ faculty.middleName }}</v-card-title>
                  <v-card-actions>
                    <v-btn
                      dark
                      color="primary"
                      :to="`/${$store.state.userGroup}/faculty/${faculty._id}`"
                    >Staff Member Details</v-btn>
                  </v-card-actions>
                </v-card>
                <v-divider :key="faculty.id"></v-divider>
              </v-flex>
            </template>
          </v-layout>
          <v-layout
            v-else
            row
            wrap
            :style="{overflow: 'auto', minHeight: '700px', maxHeight: '700px'}"
          >
            <v-flex xs12>
              <v-layout align-center justify-center row fill-height>
                <p class="display-2 text-xs-center">No faculty members found.</p>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import listAll from "../../mixins/listAll";

export default {
  computed: {
    facultyQuery() {
      if (this.query === null || this.query === "") {
        return this.list;
      } else {
        return this.list.filter(
          faculty =>
            `${faculty.lastName}, ${faculty.firstName} ${faculty.middleName}`
              .toLowerCase()
              .indexOf(this.query.toLowerCase()) >= 0
        );
      }
    }
  },

  mixins: [listAll]
};
</script>
