<template>
  <v-container fluid grid-list-lg>
    <v-layout row>
      <v-flex xs12 lg4 offset-lg4>
        <p
          class="display-1 font-weight-light"
        >{{ query.lastName }}, {{ query.firstName }} {{ query.middleName }}</p>

        <br>
        <v-divider></v-divider>
        <br>
        <p class="subheading">ID: {{ query._id }}</p>
        <template v-if="user.role===`School Director`">
          <p class="subheading">E-mail: {{ query.email }}</p>
          <v-divider></v-divider>
          <br>
          <p class="subheading">Birthday: {{ (new Date(query.birthday)).toDateString() }}</p>
          <p class="subheading">Gender: {{ query.gender | capitalize }}</p>
          <p class="subheading">Civil Status: {{ query.civilStatus }}</p>
          <p
            class="subheading"
          >Address: {{ `${query.houseNumber} ${query.street} St., Brgy. ${query.barangay}, ${query.city}, ${query.province}` }}</p>
          <v-divider></v-divider>
          <br>
          <p class="subheading">Role: {{ user.role }}</p>
          <p class="subheading">is Currently Employed?:
            <span
              :class="this.user.isCurrentlyEmployed ? `green--text` : `red--text`"
            >{{ this.user.isCurrentlyEmployed ? `Yes` : `No` }}</span>
          </p>
          <v-divider></v-divider>
          <br>
          <div>
            <v-dialog v-model="dialog" width="500">
              <v-card>
                <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

                <v-card-text>Do you really with to delete this account? Once you proceed, the information will be lost forever!</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <br>
          <p class="headline">Credentials</p>
          <div v-for="(credential, index) in query.credentials" :key="index">
            <div class="subheading">
              <v-layout row wrap>
                <v-flex xs12>
                  <span>School Name: {{credential.schoolName}}</span>
                </v-flex>
                <v-flex xs12>
                  <span>Year Graduated: {{credential.yearGraduated}}</span>
                </v-flex>
                <v-flex xs12>
                  <span>Educational Level: {{credential.educationalLevel}}</span>
                </v-flex>
              </v-layout>
            </div>
            <br>
            <br>
          </div>
          <v-divider></v-divider>
          <br>
          <br>
          <v-btn
            color="primary"
            :to="`/${this.$store.state.userGroup}/staff/${this.id}/edit`"
          >Edit Profile</v-btn>
          <v-btn color="error" @click="dialog = !dialog">Delete this Account</v-btn>
          <br>
          <br>
          <br>
          <br>
          <br>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import updateID from "../../mixins/updateID";

export default {
  computed: {
    ...mapState([`user`])
  },

  mixins: [updateID]
};
</script>
