<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Staff Members</v-toolbar-title>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            color="white"
            v-model="query"
            placeholder="Enter the staff member's name here"
          ></v-text-field>
          <v-icon class="hidden-sm-and-down">search</v-icon>
          <template v-if="$store.state.user.role==='School Director'">
            <v-spacer></v-spacer>
            <v-btn
              dark
              :to="`/${this.$store.state.userGroup}/staff/create`"
              class="hidden-sm-and-down"
              flat
            >Sign up a Staff Member</v-btn>
            <v-btn
              :to="`/${this.$store.state.userGroup}/staff/create`"
              flat
              class="hidden-lg-and-up"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </template>
        </v-toolbar>
        <v-toolbar color="primary" dark class="hidden-lg-and-up pa-3">
          <v-text-field
            color="white"
            v-model="query"
            placeholder="Enter the staff member's name here"
          ></v-text-field>
          <v-icon>search</v-icon>
        </v-toolbar>
        <v-container grid-list-lg>
          <v-layout
            v-if="staffQuery.length !== 0"
            row
            wrap
            :style="{overflow: 'auto', maxHeight: '700px'}"
          >
            <template v-for="staff in staffQuery">
              <v-flex xs12 lg6 :key="staff.id">
                <v-card :key="staff.id" class="pb-2 pt-2">
                  <v-card-title
                    primary-title
                    class="headline"
                  >{{ staff.lastName }}, {{ staff.firstName }} {{ staff.middleName }}</v-card-title>
                  <v-card-actions>
                    <v-btn
                      dark
                      color="primary"
                      :to="`/${$store.state.userGroup}/staff/${staff._id}`"
                    >Staff Member Details</v-btn>
                  </v-card-actions>
                </v-card>
                <v-divider :key="staff.id"></v-divider>
              </v-flex>
            </template>
          </v-layout>
          <v-layout
            v-else
            row
            wrap
            :style="{overflow: 'auto', minHeight: '700px', maxHeight: '700px'}"
          >
            <v-flex xs12>
              <v-layout align-center justify-center row fill-height>
                <p class="display-2 text-xs-center">No staff members found.</p>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import listAll from "../../mixins/listAll";

export default {
  computed: {
    staffQuery() {
      if (this.query === null || this.query === "") {
        return this.list;
      } else {
        return this.list.filter(
          staff =>
            `${staff.lastName}, ${staff.firstName} ${staff.middleName}`
              .toLowerCase()
              .indexOf(this.query.toLowerCase()) >= 0
        );
      }
    }
  },

  mixins: [listAll]
};
</script>
