<template>
  <v-container fluid grid-list-lg>
    <v-layout row>
      <v-flex xs12 lg4 offset-lg4>
        <p
          class="display-1 font-weight-light"
        >{{ this.user.lastName }}, {{ this.user.firstName }} {{ this.user.middleName }}</p>

        <br>
        <v-divider></v-divider>
        <br>
        <p class="subheading">ID: {{ this.user._id }}</p>
        <p class="subheading">
          E-mail: {{ this.user.email }}
          <span>
            <v-btn color="primary">Change Email</v-btn>
          </span>
          <span>
            <v-btn color="primary">Change Password</v-btn>
          </span>
        </p>
        <v-divider></v-divider>
        <br>
        <p class="subheading">Birthday: {{ (new Date(this.user.birthday)).toDateString() }}</p>
        <p class="subheading">Gender: {{ this.user.gender | capitalize }}</p>
        <p class="subheading">Civil Status: {{ this.user.civilStatus }}</p>
        <p
          class="subheading"
        >Address: {{ `${this.user.houseNumber} ${this.user.street} St., Brgy. ${this.user.barangay}, ${this.user.city}, ${this.user.province}` }}</p>
        <v-divider></v-divider>
        <br>
        <p class="subheading">Role: {{ user.role }}</p>
        <v-divider></v-divider>
        <br>

        <br>
        <p class="headline">Credentials</p>
        <div v-for="(credential, index) in this.user.credentials" :key="index">
          <div class="subheading">
            <v-layout row wrap>
              <v-flex xs12>
                <span>School Name: {{credential.schoolName}}</span>
              </v-flex>
              <v-flex xs12>
                <span>Year Graduated: {{credential.yearGraduated}}</span>
              </v-flex>
              <v-flex xs12>
                <span>Educational Level: {{credential.educationalLevel}}</span>
              </v-flex>
            </v-layout>
          </div>
          <br>
          <br>
        </div>
        <v-divider></v-divider>
        <br>
        <br>
        <v-btn color="primary" :to="`/${this.$store.state.userGroup}/profile/edit`">Edit Profile</v-btn>
        <br>
        <br>
        <br>
        <br>
        <br>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState([`user`])
  }
};
</script>
