<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Classes</v-toolbar-title>
          <v-checkbox
            slot="extension"
            :label="`Latest Semester Only`"
            v-model="isCurrentSemesterOnly"
          ></v-checkbox>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            color="white"
            v-model="query"
            placeholder="Enter the class's subject name here"
          ></v-text-field>
          <v-icon class="hidden-sm-and-down">search</v-icon>
          <template v-if="$store.state.user.role==='Program Head'">
            <v-spacer></v-spacer>
            <v-btn @click="dialog = !dialog" flat class="hidden-sm-and-down">Create a New Class</v-btn>
            <v-btn @click="dialog = !dialog" flat class="hidden-lg-and-up">
              <v-icon>add</v-icon>
            </v-btn>
            <v-dialog v-model="dialog" persistent max-width="960px">
              <v-card>
                <v-card-title>
                  <p class="headline">Create a Class</p>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-lg>
                    <v-form ref="form" v-model="valid">
                      <v-layout wrap>
                        <v-flex xs12 lg4>
                          <v-autocomplete
                            v-model="classSubject"
                            :hint="!isEditingSubject ? 'Click the icon to edit' : 'Click the icon to save'"
                            :items="subjectList"
                            :readonly="!isEditingSubject"
                            :label="`Subject — ${isEditingSubject ? 'Editable' : 'Read only'}`"
                            persistent-hint
                            :item-text="customDisplaySubject"
                            :filter="customFilterSubject"
                            item-value="_id"
                          >
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                              <v-icon
                                :color="isEditingSubject ? 'success' : 'info'"
                                :key="`icon-${isEditingSubject}`"
                                @click="isEditingSubject = !isEditingSubject"
                                v-text="isEditingSubject ? 'check' : 'edit'"
                              ></v-icon>
                            </v-slide-x-reverse-transition>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 lg4>
                          <v-autocomplete
                            v-model="classProfessor"
                            :hint="!isEditingProfessor ? 'Click the icon to edit' : 'Click the icon to save'"
                            :items="professorList"
                            :readonly="!isEditingProfessor"
                            :label="`Professor — ${isEditingProfessor ? 'Editable' : 'Read only'}`"
                            persistent-hint
                            :item-text="customDisplayProfessor"
                            :filter="customFilterProfessor"
                            item-value="_id"
                          >
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                              <v-icon
                                :color="isEditingProfessor ? 'success' : 'info'"
                                :key="`icon-${isEditingProfessor}`"
                                @click="isEditingProfessor = !isEditingProfessor"
                                v-text="isEditingProfessor ? 'check' : 'edit'"
                              ></v-icon>
                            </v-slide-x-reverse-transition>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 lg4>
                          <v-autocomplete
                            v-model="classSemester"
                            :hint="!isEditingSemester ? 'Click the icon to edit' : 'Click the icon to save'"
                            :items="semesterList"
                            :readonly="!isEditingSemester"
                            :label="`Semester — ${isEditingSemester ? 'Editable' : 'Read only'}`"
                            persistent-hint
                            :item-text="customDisplaySemester"
                            :filter="customFilterSemester"
                            item-value="_id"
                          >
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                              <v-icon
                                :color="isEditingSemester ? 'success' : 'info'"
                                :key="`icon-${isEditingSemester}`"
                                @click="isEditingSemester = !isEditingSemester"
                                v-text="isEditingSemester ? 'check' : 'edit'"
                              ></v-icon>
                            </v-slide-x-reverse-transition>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 lg2>
                          <v-btn
                            color="primary"
                            @click="addTimeSlotLecture()"
                          >Add a Lecture Schedule</v-btn>
                          <v-btn
                            color="primary"
                            @click="addTimeSlotLaboratory()"
                          >Add a Laboratory Schedule</v-btn>
                          <template v-for="(lectureSchedule,index) in classSchedule.lecture">
                            <p class="subheading" :key="`pLect ${index}`">Lecture Timeslot</p>
                            <v-layout wrap :key="`layoutLect ${index}`">
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="lectureSchedule.day"
                                  label="Monday"
                                  value="Monday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="lectureSchedule.day"
                                  label="Tuesday"
                                  value="Tuesday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="lectureSchedule.day"
                                  label="Wednesday"
                                  value="Wednesday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="lectureSchedule.day"
                                  label="Thursday"
                                  value="Thursday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="lectureSchedule.day"
                                  label="Friday"
                                  value="Friday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="lectureSchedule.day"
                                  label="Saturday"
                                  value="Saturday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="lectureSchedule.day"
                                  label="Sunday"
                                  value="Sunday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-text-field
                                  label="after"
                                  placeholder="ex: 15:00"
                                  v-model="lectureSchedule.time.after"
                                ></v-text-field>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <p class="text-xs-center">To</p>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-text-field
                                  label="before"
                                  placeholder="ex: 23:00"
                                  v-model="lectureSchedule.time.before"
                                ></v-text-field>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-text-field label="Room" v-model="lectureSchedule.room"></v-text-field>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-btn color="error" @click="deleteTimeSlotLecture(index)">-</v-btn>
                              </v-flex>
                            </v-layout>
                            <v-divider :key="`dividerLect ${index}`"></v-divider>
                          </template>
                          <template v-for="(laboratorySchedule,index) in classSchedule.laboratory">
                            <p class="subheading" :key="`pLab ${index}`">Laboratory Timeslot</p>
                            <v-layout wrap :key="`layoutLab ${index}`">
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="laboratorySchedule.day"
                                  label="Monday"
                                  value="Monday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="laboratorySchedule.day"
                                  label="Tuesday"
                                  value="Tuesday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="laboratorySchedule.day"
                                  label="Wednesday"
                                  value="Wednesday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="laboratorySchedule.day"
                                  label="Thursday"
                                  value="Thursday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="laboratorySchedule.day"
                                  label="Friday"
                                  value="Friday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="laboratorySchedule.day"
                                  label="Saturday"
                                  value="Saturday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-checkbox
                                  v-model="laboratorySchedule.day"
                                  label="Sunday"
                                  value="Sunday"
                                ></v-checkbox>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-text-field
                                  label="after"
                                  placeholder="ex: 15:00"
                                  v-model="laboratorySchedule.time.after"
                                ></v-text-field>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <p class="text-xs-center">To</p>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-text-field
                                  label="before"
                                  placeholder="ex: 23:00"
                                  v-model="laboratorySchedule.time.before"
                                ></v-text-field>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-text-field label="Room" v-model="laboratorySchedule.room"></v-text-field>
                              </v-flex>
                              <v-flex xs12 lg2>
                                <v-btn color="error" @click="deleteTimeSlotLaboratory(index)">-</v-btn>
                              </v-flex>
                            </v-layout>
                            <v-divider :key="`dividerLab ${index}`"></v-divider>
                          </template>
                          <!-- <v-layout
                            row
                            wrap
                            v-for="(schedule, innerIndex) in resource.available"
                            :key="innerIndex"
                          >
                            <v-flex xs12 lg2>
                              <v-checkbox v-model="schedule.days" label="Monday" value="Monday"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-checkbox v-model="schedule.days" label="Tuesday" value="Tuesday"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-checkbox
                                v-model="schedule.days"
                                label="Wednesday"
                                value="Wednesday"
                              ></v-checkbox>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-checkbox v-model="schedule.days" label="Thursday" value="Thursday"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-checkbox v-model="schedule.days" label="Friday" value="Friday"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-checkbox v-model="schedule.days" label="Saturday" value="Saturday"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-checkbox v-model="schedule.days" label="Sunday" value="Sunday"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-text-field
                                label="after"
                                placeholder="ex: 15:00"
                                v-model="schedule.period.after"
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <p class="text-xs-center">To</p>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-text-field
                                label="before"
                                placeholder="ex: 23:00"
                                v-model="schedule.period.before"
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12 lg2>
                              <v-btn
                                color="error"
                                @click="deleteResourceTimeSlot(index)"
                              >-</v-btn>
                            </v-flex>
                          </v-layout>-->
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-btn flat color="primary" @click="clearAndCancel">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" :disabled="!valid" @click="validate">Submit</v-btn>
                  <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
                  <v-dialog v-model="loaderDialog" persistent width="300">
                    <v-card color="primary" dark>
                      <v-card-text>Creating a class...
                        <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
        </v-toolbar>
        <v-toolbar color="primary" dark class="hidden-lg-and-up pa-3">
          <v-text-field
            color="white"
            v-model="query"
            placeholder="Enter the class's subject name here"
          ></v-text-field>
          <v-icon>search</v-icon>
        </v-toolbar>
        <v-container grid-list-lg>
          <v-layout
            row
            wrap
            :style="{overflow: 'auto', maxHeight: '700px'}"
            v-if="classList.length !== 0"
          >
            <v-flex xs12 lg6 v-for="subject in classList" :key="subject.id">
              <v-card :key="subject.id" class="pb-2 pt-2">
                <v-card-title primary-title class="headline">{{ subject.subject.name }}</v-card-title>
                <v-card-title
                  class="headline"
                >A.Y. {{ subject.semester.schoolYear }} - {{ subject.semester.schoolYear + 1 }} --- Semester {{ subject.semester.instance }}</v-card-title>
                <v-card-actions>
                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/class/${subject._id}`"
                  >Class Details</v-btn>
                </v-card-actions>
              </v-card>
              <v-divider :key="subject.id"></v-divider>
            </v-flex>
          </v-layout>
          <v-layout
            v-else
            row
            wrap
            :style="{overflow: 'auto', minHeight: '700px', maxHeight: '700px'}"
          >
            <v-flex xs12>
              <v-layout align-center justify-center row fill-height>
                <p class="display-2 text-xs-center">No classes found.</p>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import listAll from "../../mixins/listAll";

export default {
  data() {
    return {
      isCurrentSemesterOnly: false,
      loaderDialog: false,
      dialog: false,
      valid: true,
      isEditingSubject: false,
      isEditingSemester: false,
      isEditingProfessor: false,
      classSubject: null,
      classSemester: null,
      classProfessor: null,
      classSchedule: { lecture: [], laboratory: [] },
      professorList: [],
      subjectList: [],
      semesterList: []
    };
  },

  computed: {
    currentClassList() {
      if (this.isCurrentSemesterOnly) {
        const highestYear = Math.max(
          ...this.list.map(subject => subject.semester.schoolYear)
        );
        const highestInstance = Math.max(
          ...this.list.map(subject => subject.semester.instance)
        );
        return this.list.filter(
          subject =>
            subject.semester.schoolYear === highestYear &&
            subject.semester.instance === highestInstance
        );
      } else {
        return this.list;
      }
    },
    classList() {
      if (this.query === null || this.query === "") {
        return this.currentClassList;
      } else {
        return this.currentClassList.filter(
          subject =>
            subject.subject.name
              .toLowerCase()
              .indexOf(this.query.toLowerCase()) >= 0
        );
      }
    }
  },

  created() {
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/semester`,
        { withCredentials: true }
      )
      .then(response => (this.semesterList = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/faculty`,
        { withCredentials: true }
      )
      .then(response => (this.professorList = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/subject`,
        { withCredentials: true }
      )
      .then(response => (this.subjectList = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  },

  methods: {
    addTimeSlotLecture() {
      this.classSchedule.lecture.push({
        time: { before: null, after: null },
        day: [],
        room: null
      });
    },

    addTimeSlotLaboratory() {
      this.classSchedule.laboratory.push({
        time: { before: null, after: null },
        day: [],
        room: null
      });
    },

    deleteTimeSlotLecture(index) {
      this.classSchedule.lecture.splice(index, 1);
    },

    deleteTimeSlotLaboratory(index) {
      this.classSchedule.laboratory.splice(index, 1);
    },

    customFilterSemester(item, query) {
      return `A.Y. ${item.schoolYear} - ${item.schoolYear + 1} --- Semester ${
        item.instance
      }`
        .toLowerCase()
        .indexOf(query.toLowerCase());
    },

    customDisplaySemester(item) {
      return `A.Y. ${item.schoolYear} - ${item.schoolYear + 1} --- Semester ${
        item.instance
      }`;
    },

    customFilterSubject(item, query) {
      return `${item.name}`.toLowerCase().indexOf(query.toLowerCase());
    },

    customDisplaySubject(item) {
      return `${item.name}`;
    },

    customFilterProfessor(item, query) {
      return `${item.lastName}, ${item.firstName} ${item.middleName}`
        .toLowerCase()
        .indexOf(query.toLowerCase());
    },

    customDisplayProfessor(item) {
      return `${item.lastName}, ${item.firstName} ${item.middleName}`;
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },

    clearAndCancel() {
      this.resetForm();
      this.dialog = false;
    },

    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.loaderDialog = true;
          this.classSchedule.lecture = this.classSchedule.lecture.map(
            lecture => {
              lecture.day = lecture.day.join();
              lecture.time = `${lecture.time.after} - ${lecture.time.before}`;
              return lecture;
            }
          );
          this.classSchedule.laboratory = this.classSchedule.laboratory.map(
            laboratory => {
              laboratory.day = laboratory.day.join();
              laboratory.time = `${laboratory.time.after} - ${
                laboratory.time.before
              }`;
              return laboratory;
            }
          );
          const payload = {
            professor: this.classProfessor,
            subject: this.classSubject,
            semester: this.classSemester,
            schedule: this.classSchedule
          };

          // console.log(JSON.parse(JSON.stringify(payload)));

          this.axios
            .post(
              `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
                this.type
              }`,
              payload,
              { withCredentials: true }
            )
            .then(() => {
              this.loaderDialog = false;
              this.$router.go();
            })
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  },

  mixins: [listAll]
};
</script>
