<template>
  <v-container fluid fill-height>
    <v-layout wrap align-center justify-center>
      <v-flex xs12 lg3 offset-lg1 class="text-xs-center">
        <p class="display-1 font-weight-light">{{ query.subject.name }}</p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p class="headline font-weight-light">ID: {{query._id}}</p>
        <p
          class="headline font-weight-light"
        >Professor: {{ query.professor.lastName }}, {{ query.professor.firstName }} {{ query.professor.middleName }}</p>

        <br>
        <br>
        <br>

        <p
          class="headline font-weight-light"
        >A.Y. {{ query.semester.schoolYear }} - {{ query.semester.schoolYear + 1 }} --- Semester {{ query.semester.instance }}</p>

        <br>
        <br>

        <p class="headline font-weight-light">
          Lecture:
          <span v-for="(timeslot, index) in query.schedule.lecture" :key="index">
            {{ timeslot.day }}, {{ timeslot.time }} @ {{ timeslot.room }}
            <span
              v-if="index < query.schedule.lecture.length - 1"
            >,</span>
          </span>
        </p>

        <p class="headline font-weight-light" v-if="query.schedule.laboratory.length > 0">
          Laboratory:
          <span v-for="(timeslot, index) in query.schedule.laboratory" :key="index">
            {{ timeslot.day }}, {{ timeslot.time }} @ {{ timeslot.room }}
            <span
              v-if="index < query.schedule.laboratory.length - 1"
            >,</span>
          </span>
        </p>

        <v-menu offset-y v-if="$store.state.user.role === 'Program Head'">
          <v-btn slot="activator" color="primary">Class Actions</v-btn>
          <v-list>
            <v-list-tile @click="addSectionDialog = !addSectionDialog">Add a Section</v-list-tile>
            <v-list-tile @click="removeSectionDialog = !removeSectionDialog">Remove a Section</v-list-tile>
            <v-list-tile @click="addStudentDialog = !addStudentDialog">Add a Student</v-list-tile>
            <v-list-tile @click="removeStudentDialog = !removeStudentDialog">Remove a Student</v-list-tile>
            <v-list-tile
              @click="changeProfessorDialog = !changeProfessorDialog"
            >Change the Professor</v-list-tile>
            <v-list-tile @click="populateScheduleDialog(query.schedule)">Change the Schedule</v-list-tile>
          </v-list>
        </v-menu>

        <v-btn
          color="error"
          @click="dialog = true"
          v-if="$store.state.user.role === 'Program Head'"
        >Delete this Class</v-btn>

        <div>
          <v-dialog v-model="dialog" width="500">
            <v-card>
              <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

              <v-card-text>Do you really with to delete this class? Once you proceed, the information will be lost forever!</v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-flex>

      <v-dialog persistent v-model="removeSectionDialog" width="500">
        <v-card>
          <v-card-title primary-title class="title">Remove a Section from this Class</v-card-title>
          <v-card-text>
            <v-container grid-list-xl>
              <v-form ref="removeSectionForm" v-model="valid">
                <v-autocomplete
                  v-model="selectedSection"
                  v-validate="'required'"
                  :error-messages="errors.collect(`Section`)"
                  data-vv-name="Section"
                  :hint="!isEditingSection ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="sections"
                  :readonly="!isEditingSection"
                  :label="`Section — ${isEditingSection ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplaySection"
                  :filter="customFilterSection"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingSection ? 'success' : 'info'"
                      :key="`icon-${isEditingSection}`"
                      @click="isEditingSection = !isEditingSection"
                      v-text="isEditingSection ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn
              dark
              color="primary"
              :disabled="!valid"
              @click="submitRemoveSection(selectedSection)"
            >Submit</v-btn>
            <v-btn @click="closeAndResetRemoveSectionDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persistent v-model="addSectionDialog" width="500">
        <v-card>
          <v-card-title primary-title class="title">Add a Section to this Class</v-card-title>
          <v-card-text>
            <v-container grid-list-xl>
              <v-form ref="addSectionForm" v-model="valid">
                <v-autocomplete
                  v-validate="'required'"
                  :error-messages="errors.collect(`Section`)"
                  data-vv-name="Section"
                  v-model="selectedSection"
                  :hint="!isEditingSection ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="sections"
                  :readonly="!isEditingSection"
                  :label="`Section — ${isEditingSection ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplaySection"
                  :filter="customFilterSection"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingSection ? 'success' : 'info'"
                      :key="`icon-${isEditingSection}`"
                      @click="isEditingSection = !isEditingSection"
                      v-text="isEditingSection ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn
              dark
              color="primary"
              @click="submitSection(selectedSection)"
              :disabled="!valid"
            >Submit</v-btn>
            <v-btn @click="closeAndResetAddSectionDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persistent v-model="addStudentDialog" width="500">
        <v-card>
          <v-card-title primary-title class="title">Add a Student to this Class</v-card-title>
          <v-card-text>
            <v-container grid-list-xl>
              <v-form ref="addStudentForm" v-model="valid">
                <v-autocomplete
                  v-model="selectedStudent"
                  v-validate="'required'"
                  :error-messages="errors.collect(`Student`)"
                  data-vv-name="Student"
                  :hint="!isEditingStudent ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="studentsNotInClass"
                  :readonly="!isEditingStudent"
                  :label="`Student — ${isEditingStudent ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplayStudent"
                  :filter="customFilterStudent"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingStudent ? 'success' : 'info'"
                      :key="`icon-${isEditingStudent}`"
                      @click="isEditingStudent = !isEditingStudent"
                      v-text="isEditingStudent ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn
              dark
              color="primary"
              @click="submitStudent(selectedStudent)"
              :disabled="!valid"
            >Submit</v-btn>
            <v-btn @click="closeAndResetAddStudentDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persistent v-model="removeStudentDialog" width="500">
        <v-card>
          <v-card-title primary-title class="title">Remove a student from this Class</v-card-title>
          <v-card-text>
            <v-container grid-list-xl>
              <v-form ref="removeStudentForm" v-model="valid">
                <v-autocomplete
                  v-model="selectedStudent"
                  v-validate="'required'"
                  :error-messages="errors.collect(`Student`)"
                  data-vv-name="Student"
                  :hint="!isEditingStudent ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="studentsInClass"
                  :readonly="!isEditingStudent"
                  :label="`Student — ${isEditingStudent ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplayStudent"
                  :filter="customFilterStudent"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingStudent ? 'success' : 'info'"
                      :key="`icon-${isEditingStudent}`"
                      @click="isEditingStudent = !isEditingStudent"
                      v-text="isEditingStudent ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn
              dark
              color="primary"
              @click="submitRemoveStudent(selectedStudent)"
              :disabled="!valid"
            >Submit</v-btn>
            <v-btn @click="closeAndResetRemoveStudentDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persistent v-model="changeProfessorDialog" width="500">
        <v-card>
          <v-card-title primary-title class="title">Change the professor of this Class</v-card-title>
          <v-card-text>
            <v-container grid-list-xl>
              <v-form ref="changeProfessorForm" v-model="valid">
                <v-autocomplete
                  v-model="selectedProfessor"
                  v-validate="'required'"
                  :error-messages="errors.collect(`Professor`)"
                  data-vv-name="Professor"
                  :hint="!isEditingProfessor ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="professors"
                  :readonly="!isEditingProfessor"
                  :label="`Professor — ${isEditingProfessor ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplayProfessor"
                  :filter="customFilterProfessor"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingProfessor ? 'success' : 'info'"
                      :key="`icon-${isEditingProfessor}`"
                      @click="isEditingProfessor = !isEditingProfessor"
                      v-text="isEditingProfessor ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn
              dark
              color="primary"
              @click="submitProfessor(selectedProfessor)"
              :disabled="!valid"
            >Submit</v-btn>
            <v-btn @click="closeAndResetChangeProfessorDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog persisent v-model="changeScheduleDialog" max-width="960px">
        <v-card v-for="(schedule, index) in currentSchedule" :key="`schedule ${index}`">
          <v-card-title primary-title class="title">Change this class's schedule</v-card-title>
          <v-card-text>
            <v-container grid-list-xl>
              <v-layout wrap>
                <v-form ref="changeScheduleForm" v-model="valid">
                  <v-btn color="primary" @click="addTimeSlotLecture()">Add a Lecture Schedule</v-btn>
                  <v-btn color="primary" @click="addTimeSlotLaboratory()">Add a Laboratory Schedule</v-btn>
                  <template v-for="(lectureSchedule,index) in schedule.lecture">
                    <p class="mt-5 subheading" :key="`pLect ${index}`">Lecture Timeslot</p>
                    <v-layout wrap :key="`layoutLect ${index}`">
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="lectureSchedule.day" label="Monday" value="Monday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="lectureSchedule.day" label="Tuesday" value="Tuesday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox
                          v-model="lectureSchedule.day"
                          label="Wednesday"
                          value="Wednesday"
                        ></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="lectureSchedule.day" label="Thursday" value="Thursday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="lectureSchedule.day" label="Friday" value="Friday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="lectureSchedule.day" label="Saturday" value="Saturday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="lectureSchedule.day" label="Sunday" value="Sunday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-text-field
                          label="after"
                          placeholder="ex: 15:00"
                          v-model="lectureSchedule.time.after"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <p class="text-xs-center">To</p>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-text-field
                          label="before"
                          placeholder="ex: 23:00"
                          v-model="lectureSchedule.time.before"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-text-field label="Room" v-model="lectureSchedule.room"></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-btn color="error" @click="deleteTimeSlotLecture(index)">-</v-btn>
                      </v-flex>
                    </v-layout>
                    <v-divider :key="`dividerLect ${index}`"></v-divider>
                  </template>
                  <template v-for="(laboratorySchedule,index) in schedule.laboratory">
                    <p class="mt-5 subheading" :key="`pLab ${index}`">Laboratory Timeslot</p>
                    <v-layout wrap :key="`layoutLab ${index}`">
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="laboratorySchedule.day" label="Monday" value="Monday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox
                          v-model="laboratorySchedule.day"
                          label="Tuesday"
                          value="Tuesday"
                        ></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox
                          v-model="laboratorySchedule.day"
                          label="Wednesday"
                          value="Wednesday"
                        ></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox
                          v-model="laboratorySchedule.day"
                          label="Thursday"
                          value="Thursday"
                        ></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="laboratorySchedule.day" label="Friday" value="Friday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox
                          v-model="laboratorySchedule.day"
                          label="Saturday"
                          value="Saturday"
                        ></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-checkbox v-model="laboratorySchedule.day" label="Sunday" value="Sunday"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-text-field
                          label="after"
                          placeholder="ex: 15:00"
                          v-model="laboratorySchedule.time.after"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <p class="text-xs-center">To</p>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-text-field
                          label="before"
                          placeholder="ex: 23:00"
                          v-model="laboratorySchedule.time.before"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-text-field label="Room" v-model="laboratorySchedule.room"></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg2>
                        <v-btn color="error" @click="deleteTimeSlotLaboratory(index)">-</v-btn>
                      </v-flex>
                    </v-layout>
                    <v-divider :key="`dividerLab ${index}`"></v-divider>
                  </template>
                </v-form>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn dark color="primary" @click="submitSchedule()" :disabled="!valid">Submit</v-btn>
            <v-btn @click="closeAndResetChangeScheduleDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-flex xs12 lg5 offset-lg1 v-if="query.attendees">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Students</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-text-field
            color="white"
            v-model="searchQuery"
            placeholder="Enter the student's name here"
          ></v-text-field>

          <v-icon>search</v-icon>
        </v-toolbar>
        <template v-if="studentList.length !== 0">
          <v-layout wrap :style="{ maxHeight: `400px`, overflow: `auto` }">
            <v-flex xs12 lg6 v-for="(attendee, index) in studentList" :key="`student ${index}`">
              <v-card>
                <v-card-title
                  primary-title
                  class="title"
                >{{ attendee.student.lastName }}, {{ attendee.student.firstName }} {{ attendee.student.middleName }}</v-card-title>
                <v-card-text>
                  <ul>
                    <li v-if="attendee.grade.prelim > 0">Prelims: {{ attendee.grade.prelim }}</li>
                    <li v-if="attendee.grade.midterm > 0">Midterms: {{ attendee.grade.midterm }}</li>
                    <li v-if="attendee.grade.preFinal > 0">Prefinals: {{ attendee.grade.preFinal }}</li>
                    <li v-if="attendee.grade.final > 0">Finals: {{ attendee.grade.final }}</li>
                    <li
                      v-if="attendee.grade.prelim > 0 && attendee.grade.midterm > 0 && attendee.grade.preFinal > 0 && attendee.grade.final > 0"
                    >Final Grade: {{ ((attendee.grade.prelim * 0.2 + attendee.grade.midterm * 0.2 + attendee.grade.preFinal * 0.2 + attendee.grade.final * 0.4).toFixed(2)) | transformGrade }}</li>
                    <li>Status: {{ attendee.grade.status }}</li>
                  </ul>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    dark
                    color="info"
                    @click="populateGradeDialog(attendee)"
                    v-if="$store.state.user._id === query.professor._id"
                  >Edit Grades</v-btn>

                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/student/${attendee.student._id}`"
                  >Student Details</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <v-layout
            align-center
            justify-center
            row
            fill-height
            :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}"
          >
            <p class="display-2 text-xs-center">No students found.</p>
          </v-layout>
        </template>
      </v-flex>
      <v-dialog persistent v-model="gradeDialog" width="500">
        <v-card v-for="(attendee, index) in currentAttendee" :key="`attendee ${index}`">
          <v-card-title
            primary-title
            class="title"
          >Edit {{ attendee.student.lastName }}, {{ attendee.student.firstName }} {{ attendee.student.middleName }}'s Grade</v-card-title>
          <v-card-text>
            <v-container grid-list-xl>
              <v-form ref="gradeForm" v-model="valid">
                <v-layout wrap>
                  <v-flex xs6>
                    <v-text-field
                      label="Prelim Grade"
                      v-validate="'required|min_value:0|max_value:100'"
                      clearable
                      :error-messages="errors.collect(`Prelim`)"
                      data-vv-name="Prelim"
                      v-model.number="attendee.grade.prelim"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      label="Midterm Grade"
                      v-validate="'required|min_value:0|max_value:100'"
                      clearable
                      :error-messages="errors.collect(`Midterm`)"
                      data-vv-name="Midterm"
                      v-model.number="attendee.grade.midterm"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      label="Prefinal Grade"
                      v-validate="'required|min_value:0|max_value:100'"
                      clearable
                      :error-messages="errors.collect(`Prefinal`)"
                      data-vv-name="Prefinal"
                      v-model.number="attendee.grade.preFinal"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      label="Final Grade"
                      v-validate="'required|min_value:0|max_value:100'"
                      clearable
                      :error-messages="errors.collect(`Final`)"
                      data-vv-name="Final"
                      v-model.number="attendee.grade.final"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-select
                      label="Status"
                      :items="statuses"
                      v-validate="'required'"
                      clearable
                      :error-messages="errors.collect(`Status`)"
                      data-vv-name="Status"
                      v-model="attendee.grade.status"
                      :style="{width: '200px'}"
                    ></v-select>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn dark color="primary" @click="submitGrade(attendee)" :disabled="!valid">Submit</v-btn>
            <v-btn @click="closeAndResetGradeDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";

export default {
  data() {
    return {
      searchQuery: null,
      gradeDialog: false,
      valid: true,
      statuses: [
        `Pending`,
        `Completed`,
        `Incomplete`,
        `In-Progress`,
        `Dropped`,
        `Failed`
      ],
      currentAttendee: [],
      sections: [],
      students: [],
      professors: [],
      addSectionDialog: false,
      removeSectionDialog: false,
      addStudentDialog: false,
      removeStudentDialog: false,
      selectedSection: null,
      isEditingSection: false,
      isEditingStudent: false,
      selectedStudent: null,
      isEditingProfessor: null,
      selectedProfessor: null,
      changeProfessorDialog: false,
      changeScheduleDialog: false,
      currentSchedule: [],
      dialog: false
    };
  },

  created() {
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/section`,
        { withCredentials: true }
      )
      .then(response => (this.sections = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });

    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/student`,
        { withCredentials: true }
      )
      .then(response => (this.students = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });

    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/faculty`,
        { withCredentials: true }
      )
      .then(response => (this.professors = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  },

  computed: {
    studentList() {
      if (this.searchQuery === null || this.searchQuery === "") {
        return this.query.attendees;
      } else {
        return this.query.attendees.filter(
          attendee =>
            `${attendee.student.lastName}, ${attendee.student.firstName} ${
              attendee.student.middleName
            }`
              .toLowerCase()
              .indexOf(this.searchQuery.toLowerCase()) >= 0
        );
      }
    },

    studentsInClass() {
      return this.query.attendees
        ? this.query.attendees.map(attendee => attendee.student)
        : [];
    },

    studentsNotInClass() {
      return this.students.filter(
        student =>
          !this.studentsInClass
            .map(studentInClass => studentInClass._id.toString())
            .includes(student._id.toString())
      );
    }
  },

  methods: {
    customDisplaySection(item) {
      return `${item.course}${item.yearLevel}0${
        item.semester.instance
      }${`abcdefghijklmnopqrstuvwxyz`
        .split("")
        [item.number - 1].toUpperCase()}`;
    },

    customFilterSection(item, query) {
      return (
        `${item.course}${item.yearLevel}0${
          item.semester.instance
        }${`abcdefghijklmnopqrstuvwxyz`
          .split("")
          [item.number - 1].toUpperCase()}`
          .toLowerCase()
          .indexOf(query.toLowerCase()) >= 0
      );
    },

    customDisplayStudent(item) {
      return `${item.lastName}, ${item.firstName}, ${item.middleName}`;
    },

    customFilterStudent(item, query) {
      return (
        `${item.lastName}, ${item.firstName}, ${item.middleName}`
          .toLowerCase()
          .indexOf(query.toLowerCase()) >= 0
      );
    },

    customDisplayProfessor(item) {
      return `${item.lastName}, ${item.firstName}, ${item.middleName}`;
    },

    customFilterProfessor(item, query) {
      return (
        `${item.lastName}, ${item.firstName}, ${item.middleName}`
          .toLowerCase()
          .indexOf(query.toLowerCase()) >= 0
      );
    },

    closeAndResetGradeDialog() {
      this.$refs.gradeForm.reset();
      this.$validator.reset();
      this.gradeDialog = false;
    },

    closeAndResetAddSectionDialog() {
      this.$refs.addSectionForm.reset();
      this.$validator.reset();
      this.addSectionDialog = false;
      this.isEditingSection = false;
    },

    closeAndResetAddStudentDialog() {
      this.$refs.addStudentForm.reset();
      this.$validator.reset();
      this.addStudentDialog = false;
      this.isEditingSection = false;
    },

    closeAndResetRemoveSectionDialog() {
      this.$refs.removeSectionForm.reset();
      this.$validator.reset();
      this.removeSectionDialog = false;
      this.isEditingStudent = false;
    },

    closeAndResetRemoveStudentDialog() {
      this.$refs.removeStudentForm.reset();
      this.$validator.reset();
      this.removeStudentDialog = false;
      this.isEditingStudent = false;
    },

    closeAndResetChangeProfessorDialog() {
      this.$refs.changeProfessorForm.reset();
      this.$validator.reset();
      this.changeProfessorDialog = false;
      this.isEditingProfessor = false;
    },

    closeAndResetChangeScheduleDialog() {
      this.populateScheduleDialog(this.query.schedule);
      this.$validator.reset();
      this.changeScheduleDialog = false;
    },

    populateGradeDialog(attendee) {
      this.currentAttendee = [JSON.parse(JSON.stringify(attendee))];
      this.gradeDialog = true;
    },

    populateScheduleDialog(schedule) {
      this.currentSchedule = [JSON.parse(JSON.stringify(schedule))];
      this.currentSchedule[0].lecture = this.currentSchedule[0].lecture.map(
        lectureSchedule => ({
          room: lectureSchedule.room,
          day: lectureSchedule.day.split(`,`),
          time: {
            before: lectureSchedule.time.split(`-`)[1].trim(),
            after: lectureSchedule.time.split(`-`)[0].trim()
          }
        })
      );
      this.currentSchedule[0].laboratory = this.currentSchedule[0].laboratory.map(
        laboratorySChedule => ({
          room: laboratorySChedule.room,
          day: laboratorySChedule.day.split(`,`),
          time: {
            before: laboratorySChedule.time.split(`-`)[1].trim(),
            after: laboratorySChedule.time.split(`-`)[0].trim()
          }
        })
      );
      this.changeScheduleDialog = true;
    },

    addTimeSlotLecture() {
      this.currentSchedule[0].lecture.push({
        day: [],
        time: { before: null, after: null },
        room: null
      });
    },

    addTimeSlotLaboratory() {
      this.currentSchedule[0].laboratory.push({
        day: [],
        time: { before: null, after: null },
        room: null
      });
    },

    deleteTimeSlotLecture(index) {
      this.currentSchedule[0].lecture.splice(index, 1);
    },

    deleteTimeSlotLaboratory(index) {
      this.currentSchedule[0].laboratory.splice(index, 1);
    },

    submitSection(sectionId) {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            id: sectionId
          };
          (this.selectedSection = null),
            (this.isEditingSection = false),
            this.axios
              .patch(
                `${this.$store.state.url}/${
                  this.$store.state.userGroup
                }/api/class/${this.id}/section`,
                payload,
                { withCredentials: true }
              )
              .then(() => this.$router.go())
              .catch(() => {
                this.$store.dispatch(`logout`);
                this.$router.push(`/`);
              });
        }
      });
    },

    submitStudent(studentId) {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            id: studentId
          };

          this.axios
            .patch(
              `${this.$store.state.url}/${
                this.$store.state.userGroup
              }/api/class/${this.id}/student`,
              payload,
              { withCredentials: true }
            )
            .then(() => this.$router.go())
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    },

    submitProfessor(professorId) {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            id: professorId
          };

          this.axios
            .patch(
              `${this.$store.state.url}/${
                this.$store.state.userGroup
              }/api/class/${this.id}/professor`,
              payload,
              { withCredentials: true }
            )
            .then(() => this.$router.go())
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    },

    submitRemoveStudent(studentId) {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            id: studentId
          };

          this.axios
            .delete(
              `${this.$store.state.url}/${
                this.$store.state.userGroup
              }/api/class/${this.id}/student`,
              payload,
              { withCredentials: true }
            )
            .then(() => this.$router.go())
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    },

    submitRemoveSection(sectionId) {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            id: sectionId
          };
          (this.selectedSection = null),
            (this.isEditingSection = false),
            this.axios
              .delete(
                `${this.$store.state.url}/${
                  this.$store.state.userGroup
                }/api/class/${this.id}/section`,
                payload,
                { withCredentials: true }
              )
              .then(() => this.$router.go())
              .catch(() => {
                this.$store.dispatch(`logout`);
                this.$router.push(`/`);
              });
        }
      });
    },

    submitSchedule() {
      const payload = {
        schedule: {
          lecture: this.currentSchedule[0].lecture.map(lectureSchedule => {
            lectureSchedule.day = lectureSchedule.day.join();
            lectureSchedule.time = `${lectureSchedule.time.after} - ${
              lectureSchedule.time.before
            }`;
            return lectureSchedule;
          }),

          laboratory: this.currentSchedule[0].laboratory.map(
            laboratorySchedule => {
              laboratorySchedule.day = laboratorySchedule.day.join();
              laboratorySchedule.time = `${laboratorySchedule.time.after} - ${
                laboratorySchedule.time.before
              }`;
              return laboratorySchedule;
            }
          )
        }
      };

      this.axios
        .patch(
          `${this.$store.state.url}/${this.$store.state.userGroup}/api/class/${
            this.id
          }/schedule`,
          payload,
          { withCredentials: true }
        )
        .then(() => this.$router.go())
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    },

    submitGrade(attendee) {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            prelim: attendee.grade.prelim,
            final: attendee.grade.final,
            status: attendee.grade.status,
            preFinal: attendee.grade.preFinal,
            midterm: attendee.grade.midterm
          };
          this.axios
            .patch(
              `${this.$store.state.url}/${
                this.$store.state.userGroup
              }/api/grade/${attendee.grade._id}`,
              payload,
              { withCredentials: true }
            )
            .then(() => this.$router.go())
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  },

  mixins: [updateID],

  filters: {
    transformGrade(value) {
      if (value < 50) {
        return `5.00`;
      } else if (value <= 56) {
        return `3.00`;
      } else if (value <= 62) {
        return `2.75`;
      } else if (value <= 68) {
        return `2.50`;
      } else if (value <= 74) {
        return `2.25`;
      } else if (value <= 80) {
        return `2.00`;
      } else if (value <= 85) {
        return `1.75`;
      } else if (value <= 90) {
        return `1.50`;
      } else if (value <= 95) {
        return `1.25`;
      } else if (value <= 100) {
        return `1.00`;
      }
    }
  }
};
</script>
