<template>
  <v-container grid-list-xl>
    <v-layout justify-center align-center row fill-height>
      <v-flex xs12 class="text-xs-center">
        <p class="display-1">Error 404: Page not found.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="title">Woops! You stumbled on a page that doesn't exist. Sorry about that.</p>
        <v-btn color="primary" @click="$router.go(-1)">Go back</v-btn>
        <v-btn color="info" :to="`/`">To Front Page</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {};
</script>
