<template>
  <v-layout justify-center>
    <v-flex xs12 lg6>
      <v-card>
        <v-toolbar color="teal" dark>
          <v-toolbar-title>About</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-list two-line>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">phone</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Phone Number</v-list-tile-title>
              <v-list-tile-sub-title>{{ $store.state.about['Phone Number'] }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">public</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Website</v-list-tile-title>
              <v-list-tile-sub-title>{{ $store.state.about.Website }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">location_on</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Address</v-list-tile-title>
              <v-list-tile-sub-title>{{ $store.state.about.Address }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  created() {
    this.axios
      .get(`${this.$store.state.url}/info`)
      .then(response => this.$store.commit(`updateInfo`, response.data));
  }
};
</script>
