<template>
  <v-footer dark height="auto">
    <v-card class="flex" flat tile>
      <v-card-actions class="grey darken-3 justify-center">
        &copy;2019 —
        <strong>Made by Daryl Manabat - Thesis Preview</strong>— alpha build v0.1.0
      </v-card-actions>
    </v-card>
  </v-footer>
</template>
