<template>
  <div>
    <br>
    <br>

    <v-container fluid>
      <v-layout row justify-center align-center fill-height>
        <v-flex xs10 offset-xs1>
          <p
            class="display-1 text-xs-center"
          >Welcome back to OSA, {{ $store.state.user.firstName }} {{ $store.state.user.middleName }} {{ $store.state.user.lastName }}.</p>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>
