<template>
  <v-container>
    <v-img :src="require(`../assets/aclc-logo.png`)" max-height="500" contain></v-img>
    <p class="text-xs-center display-2 font-weight-light">Welcome to ACLC College Gapan!</p>
    <br>
    <br>
    <br>
    <br>
    <v-layout row>
      <app-about-list></app-about-list>
    </v-layout>
  </v-container>
</template>

<script>
import AboutList from "./AboutList.vue";
export default {
  components: {
    appAboutList: AboutList
  }
};
</script>

<style scoped>
router-link {
  cursor: pointer;
}
</style>
