<template>
  <v-container fluid fill-height>
    <v-layout wrap align-center justify-center>
      <v-flex xs12 lg4>
        <p
          class="text-xs-center display-1 font-weight-light"
        >Login as a {{ userGroup | capitalize }}</p>
      </v-flex>
      <v-flex xs12 lg4>
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-validate="'required|email'"
            v-model="email"
            :error-messages="errors.collect('email')"
            label="E-mail"
            data-vv-name="email"
            required
            clearable
            @keyup.enter="validate"
          ></v-text-field>
          <v-text-field
            v-validate="'required'"
            v-model="password"
            :error-messages="errors.collect('password')"
            label="Password"
            data-vv-name="password"
            required
            clearable
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            :type="showPassword ? 'text' : 'password'"
            @click:append="showPassword = !showPassword"
            @keyup.enter="validate"
          ></v-text-field>
          <v-btn color="primary" :disabled="!valid" @click="validate">Login</v-btn>
          <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
        </v-form>
        <v-alert
          :value="true"
          color="info"
          icon="info"
          outline
          v-if="proceedLogIn"
          transition="slide-y-transition"
        >Logging in...
          <v-progress-linear :indeterminate="true"></v-progress-linear>
        </v-alert>
        <v-alert
          :value="true"
          color="success"
          icon="check_circle"
          outline
          v-if="loginStatus === `success`"
          transition="slide-y-transition"
        >Successfully logged in!</v-alert>
        <v-alert
          :value="true"
          color="error"
          icon="warning"
          outline
          v-if="loginStatus === `failed`"
          transition="slide-y-transition"
        >Incorrect email or password. Try again!</v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: {
    userGroup: String
  },
  data: function() {
    return {
      email: undefined,
      password: undefined,
      showPassword: false,
      valid: true,
      proceedLogIn: false,
      loginStatus: undefined
    };
  },
  methods: {
    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },
    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.proceedLogIn = true;
          this.loginStatus = undefined;
          this.axios
            .post(
              `${this.$store.state.url}/${this.userGroup}/login`,
              {
                email: this.email,
                password: this.password
              },
              { withCredentials: true }
            )
            .then(response => {
              this.proceedLogIn = false;
              this.loginStatus = `success`;
              setTimeout(() => {
                this.$store.dispatch(`login`, {
                  user: response.data,
                  userGroup: this.userGroup
                });
                this.$refs.form.reset();
                this.$validator.reset();
                this.loginStatus = undefined;
                this.$router.push(`/${this.userGroup}/home`);
              }, 2000);
            })
            .catch(() => {
              this.proceedLogIn = false;
              this.loginStatus = `failed`;
            });
        }
      });
    }
  }
};
</script>
