<template>
  <v-toolbar v-if="!$store.state.isLoggedIn">
    <v-toolbar-title class="headline text-uppercase" :style="{cursor: 'pointer'}">
      <router-link to="/" tag="span">
        <span class="font-weight-light">OSA</span>
      </router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn :to="`/news`" flat>News</v-btn>
      <v-menu offset-y>
        <v-btn slot="activator" flat>Login</v-btn>
        <v-list>
          <v-list-tile v-for="(item, index) in users" :key="index" @click="navigateLogin(item)">
            <v-list-tile-title>{{ item | capitalize }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-toolbar>
  <v-toolbar dark color="primary" app v-else>
    <v-toolbar-title class="headline text-uppercase" :style="{cursor: 'pointer'}">
      <router-link to="/" tag="span">
        <span>OSA</span>
      </router-link>
      <span class="mr-2 ml-2">|</span>
      <router-link tag="span" :to="`/${$store.state.userGroup}/home`">{{ $store.state.userGroup }}</router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <div class="text-xs-center">
      <v-toolbar-side-icon @click="$store.commit(`activateSideNav`, true)"></v-toolbar-side-icon>
    </div>
  </v-toolbar>
</template>

<script>
export default {
  data: function() {
    return {
      users: [`student`, `faculty`, `staff`]
    };
  },
  methods: {
    navigateLogin(userGroup) {
      this.$router.push(`/login/${userGroup}`);
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    }
  }
};
</script>
