<template>
  <v-flex xs12 sm3 offset-sm2>
    <v-card>
      <v-toolbar color="cyan" dark>
        <v-toolbar-title :style="{cursor: 'pointer'}">
          <v-tooltip bottom>
            <span slot="activator">News</span>
            <span>Click for more News</span>
          </v-tooltip>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>

      <v-list two-line>
        <template v-for="(item, index) in $store.state.news.slice(0,7)">
          <v-tooltip bottom :key="index">
            <v-list-tile slot="activator" ripple @click="showIndex(index)">
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ item.content }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <span>Click this to view full content</span>
          </v-tooltip>
          <v-divider v-if="index + 1 < $store.state.news.length" :key="`divider-${index}`"></v-divider>
        </template>
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  methods: {
    showIndex(index) {
      console.log(index);
    }
  }
};
</script>
