<template>
  <v-navigation-drawer v-model="visible" fixed temporary right>
    <v-toolbar dark color="primary">
      <v-list>
        <v-list-tile :style="{cursor: 'pointer'}">
          <router-link tag="div" :to="`/${$store.state.userGroup}/profile`">
            <v-list-tile-title
              class="title"
            >{{ $store.state.user.lastName }}, {{ $store.state.user.firstName }} {{ $store.state.user.middleName }}</v-list-tile-title>
          </router-link>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-list v-if="$store.state.user.role === `School Director`">
      <v-list-tile @click="dialog = !dialog">
        <v-list-tile-title>Edit Front Page About Information</v-list-tile-title>
      </v-list-tile>
    </v-list>
    <v-dialog v-model="dialog" width="500" persistent>
      <v-card>
        <v-card-title primary-title class="title">Edit Information Form</v-card-title>
        <v-container>
          <v-layout wrap>
            <v-flex xs12>
              <v-form ref="form" v-model="valid">
                <v-text-field
                  label="Phone Number"
                  v-validate="'required'"
                  v-model="phoneNumber"
                  clearable
                  :error-messages="errors.collect('Phone Number')"
                  data-vv-name="Phone Number"
                ></v-text-field>
                <v-text-field
                  label="Website"
                  v-validate="'required'"
                  v-model="website"
                  clearable
                  :error-messages="errors.collect('Website')"
                  data-vv-name="Website"
                ></v-text-field>
                <v-text-field
                  label="Address"
                  v-validate="'required'"
                  v-model="address"
                  clearable
                  :error-messages="errors.collect('Address')"
                  data-vv-name="Address"
                ></v-text-field>
              </v-form>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn color="primary" @click="submitToServer" :disabled="!valid">Submit</v-btn>
          <v-btn color="error" @click="resetForm">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-divider v-if="$store.state.user.role === `School Director`"></v-divider>

    <v-list>
      <v-list-tile
        v-if="$store.state.user.role==='Program Head'"
        :to="`/${this.$store.state.userGroup}/faculty/create`"
      >
        <v-list-tile-content>
          <v-list-tile-title>Sign up a Faculty Member</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile
        v-if="$store.state.user.role==='School Director'"
        :to="`/${this.$store.state.userGroup}/staff/create`"
      >
        <v-list-tile-content>
          <v-list-tile-title>Sign up a Staff Member</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile
        v-if="$store.state.user.role==='Registrar'"
        :to="`/${$store.state.userGroup}/student/create`"
      >
        <v-list-tile-content>
          <v-list-tile-title>Sign up a Student</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider
        v-if="$store.state.user.role === 'Registrar' || $store.state.user.role==='Program Head' || $store.state.user.role==='School Director'"
      ></v-divider>
      <v-list-tile
        v-if="$store.state.user.role==='Program Head'"
        :to="`/${$store.state.userGroup}/schedule/create`"
      >
        <v-list-tile-content>
          <v-list-tile-title>Create a Schedule</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider
        v-if="$store.state.user.role === 'Registrar' || $store.state.user.role==='Program Head' || $store.state.user.role==='School Director'"
      ></v-divider>
      <v-list-tile :to="`/${$store.state.userGroup}/faculty`">
        <v-list-tile-content>
          <v-list-tile-title>Faculty</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="`/${$store.state.userGroup}/staff`">
        <v-list-tile-content>
          <v-list-tile-title>Staff</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="`/${$store.state.userGroup}/student`">
        <v-list-tile-content>
          <v-list-tile-title>Students</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile :to="`/${$store.state.userGroup}/news`">
        <v-list-tile-content>
          <v-list-tile-title>News</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="`/${$store.state.userGroup}/class`">
        <v-list-tile-content>
          <v-list-tile-title>Classes</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="`/${$store.state.userGroup}/section`">
        <v-list-tile-content>
          <v-list-tile-title>Sections</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="`/${$store.state.userGroup}/curriculum`">
        <v-list-tile-content>
          <v-list-tile-title>Curricula</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="`/${$store.state.userGroup}/semester`">
        <v-list-tile-content>
          <v-list-tile-title>Semesters</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="`/${$store.state.userGroup}/subject`">
        <v-list-tile-content>
          <v-list-tile-title>Subjects</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile @click="logout" :style="{cursor: 'pointer'}">
        <v-list-tile-content>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      items: [
        { title: "Home", icon: "dashboard" },
        { title: "About", icon: "question_answer" }
      ],
      right: null,
      dialog: false,
      phoneNumber: null,
      website: null,
      address: null,
      valid: true
    };
  },
  created() {
    this.phoneNumber = this.$store.state.about["Phone Number"];
    this.website = this.$store.state.about.Website;
    this.address = this.$store.state.about.Address;
  },
  computed: {
    ...mapState([`sideNavActive`]),
    visible: {
      get() {
        return this.sideNavActive;
      },
      set(state) {
        this.$store.commit(`activateSideNav`, state);
      }
    }
  },
  methods: {
    logout() {
      this.$store.dispatch(`logout`);
      this.$router.push(`/`);
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
      this.dialog = false;
    },

    submitToServer() {
      const payload = {
        phoneNumber: this.phoneNumber,
        website: this.website,
        address: this.address
      };

      this.axios
        .patch(
          `${this.$store.state.url}/${this.$store.state.userGroup}/api/info`,
          payload,
          { withCredentials: true }
        )
        .then(() => {
          this.$store.commit(`updateInfo`, payload);
          this.$router.go();
        })
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    }
  }
};
</script>
