<template>
  <v-container fluid fill-height>
    <v-layout row align-center justify-center>
      <v-flex xs4>
        <p class="text-xs-center display-1 font-weight-light">Login as a Something</p>
      </v-flex>
      <v-flex xs12 lg4>
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-validate="'required|email'"
            v-model="email"
            :error-messages="errors.collect('email')"
            label="E-mail"
            data-vv-name="email"
            required
            clearable
          ></v-text-field>
          <v-text-field
            v-validate="'required'"
            v-model="password"
            :error-messages="errors.collect('password')"
            label="Password"
            data-vv-name="password"
            required
            clearable
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            :type="showPassword ? 'text' : 'password'"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
          <v-btn color="primary" :disabled="!valid" @click="validate">Login</v-btn>
          <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
        </v-form>
        <v-alert
          :value="true"
          color="info"
          icon="info"
          outline
          v-if="continueOn"
          transition="slide-y-transition"
        >Logging in...
          <v-progress-linear :indeterminate="true"></v-progress-linear>
        </v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: function() {
    return {
      email: undefined,
      password: undefined,
      showPassword: false,
      valid: true,
      continueOn: false
    };
  },
  methods: {
    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },
    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.continueOn = true;
          this.axios.post(`localhost:3000`);
        }
      });
    }
  }
};
</script>
