<template>
  <div>
    <upload title="Upload File" :fileChangedCallback="files">
      <template slot="icon-left">
        <v-icon dark>cloud_upload</v-icon>
      </template>
      <span>{{ fileName }}</span>
    </upload>
    <v-text-field v-model="text"></v-text-field>

    <v-btn color="primary" @click="submitFileToServer">Submit</v-btn>
  </div>
</template>

<script>
import UploadButton from "vuetify-upload-button";

export default {
  data() {
    return {
      file: null,
      fileName: "lol",
      text: null,
    };
  },

  components: {
    upload: UploadButton
  },

  methods: {
    files(file) {
      this.file = file;
      this.fileName = file.name;
      console.log(`fileChanged function triggered`);
      console.log(file);
      // handle file here. File will be an object.
      // If multiple prop is true, it will return an object array of files.
    },

    submitFileToServer() {
      const formData = new FormData();

      formData.append("myfile", this.file);
      formData.append("text", this.text);

      this.axios
        .post("http://localhost:3001/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => console.log(`success.`, response))
        .catch(response => console.log(`failure.`, response));
    }
  }
};
</script>
