<template>
  <div>
    <v-btn @click="logIt">Click This</v-btn>
    <hr>
    <p v-if="user">{{ user.image }}</p>
    <p>{{ imageUrl }}</p>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      imageUrl: null
    };
  },
  watch: {
    $route: `login`
  },
  computed: {
    ...mapState([`user`])
  },
  methods: {
    ...mapActions([`login`]),
    logIt() {
      this.login();
    },
    storeToLocalState() {
      if (this.user) {
        this.imageUrl = this.user.image;
      }
    }
  },
  async created() {
    await this.login();
    this.storeToLocalState();
  }
};
</script>
