<template>
  <v-container fluid fill-height>
    <v-layout row align-center justify-center>
      <v-flex xs12 lg6>
        <p class="text-xs-center display-1 font-weight-light">Name Here</p>
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex xs12 lg5 offset-lg1>
        <p class="text-xs-center display-1 font-weight-light">ID HERE</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {};
</script>
