<template>
  <v-container fluid fill-height grid-list-xl>
    <v-layout wrap>
      <v-flex xs10 offset-xs1>
        <v-btn color="primary" @click="$router.go(-1)">
          <v-icon dark>chevron_left</v-icon>Go Back
        </v-btn>

        <br>
        <br>

        <v-toolbar dark color="primary">
          <v-toolbar-title class="headline">Edit this Curriculum</v-toolbar-title>
        </v-toolbar>

        <v-form ref="form" v-model="valid" class="pt-3 mx-3">
          <v-layout wrap>
            <v-flex xs6 lg3>
              <v-text-field
                label="Course"
                v-validate="'required'"
                placeholder="Ex. BSIT, BSCS"
                v-model="course"
                clearable
                :error-messages="errors.collect('Course')"
                data-vv-name="Course"
              ></v-text-field>
            </v-flex>

            <v-flex xs6 lg3>
              <v-text-field
                label="Year"
                v-validate="'required|digits:4'"
                placeholder="Ex. 2014, 2015"
                v-model="year"
                clearable
                :error-messages="errors.collect('Year')"
                data-vv-name="Year"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <br>
          <p class="title">Add Semesters</p>
          <v-card flat v-for="(semester, index) in semesters" :key="index">
            <p class="subheading">Semester {{ index + 1 }}</p>
            <v-layout wrap>
              <v-flex xs12 lg10>
                <v-autocomplete
                  multiple
                  v-model="semesters[index]"
                  :hint="!isEditing ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="subjectList"
                  :readonly="!isEditing"
                  :label="`Curriculum — ${isEditing ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplay"
                  :filter="customFilter"
                  item-value="_id"
                  clearable
                  v-validate="'required'"
                  :error-messages="errors.collect(`Semester ${index + 1}`)"
                  :data-vv-name="`Semester ${index + 1}`"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditing ? 'success' : 'info'"
                      :key="`icon-${isEditing}`"
                      @click="isEditing = !isEditing"
                      v-text="isEditing ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-flex>

              <v-flex xs12 lg2>
                <v-btn @click="removeSemester(index)" color="error">Remove this Semester</v-btn>
              </v-flex>
            </v-layout>
            <br>
            <br>
          </v-card>

          <v-btn @click="addSemester">Add another Semester</v-btn>

          <br>
          <br>

          <v-layout row wrap>
            <v-flex xs12 lg3>
              <v-btn color="primary" :disabled="!valid" @click="sendFormToServer">Submit</v-btn>
              <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      id: this.$route.params.id,
      valid: true,
      isEditing: false,
      course: null,
      year: null,
      semesters: [[]],
      subjectList: null
    };
  },

  watch: {
    $route(to) {
      this.id = to.params.id;
      this.populate();
    }
  },

  created() {
    this.populate();
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/subject`,
        { withCredentials: true }
      )
      .then(response => {
        this.subjectList = response.data;
      })
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  },

  methods: {
    populate() {
      this.axios
        .get(
          `${this.$store.state.url}` +
            "/" +
            `${this.$store.state.userGroup}` +
            "/api/curriculum/" +
            this.id,
          { withCredentials: true }
        )
        .then(response => {
          const data = response.data;
          this.course = data.course;
          this.year = data.year;
          this.semesters = data.subjects;
        })
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    },

    customFilter(item, query) {
      return (
        item.name.toLowerCase().indexOf(query.toLowerCase()) ||
        item.classCode.toLowerCase().indexOf(query.toLowerCase())
      );
    },

    customDisplay(item) {
      return `${item.name} - ${item.classCode}`;
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },

    addSemester() {
      this.semesters.push([]);
    },

    removeSemester(idx) {
      this.semesters.splice(idx, 1);
    },

    sendFormToServer() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            course: this.course,
            year: parseInt(this.year),
            subjects: this.semesters
          };

          this.axios
            .patch(
              `${this.$store.state.url}/${
                this.$store.state.userGroup
              }/api/curriculum/${this.id}`,
              payload,
              { withCredentials: true }
            )
            .then(() =>
              this.$router.push(
                `/${this.$store.state.userGroup}/curriculum/${this.id}`
              )
            )
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  }
};
</script>
