<template>
  <v-container fluid fill-height>
    <v-layout wrap justify-center align-center>
      <v-flex xs12 lg3 offset-lg1 class="text-xs-center">
        <p class="display-1 font-weight-light">{{ query.course }} - {{ query.year }} Curriculum</p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p class="headline font-weight-light">ID: {{query._id}}</p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <template v-if="$store.state.user.role === 'Program Head'">
          <v-btn
            color="primary"
            :to="`/${$store.state.userGroup}/${this.type}/${this.id}/edit`"
          >Edit this Curriculum</v-btn>

          <v-btn color="error" @click="dialog = true">Delete this Curriculum</v-btn>

          <div>
            <v-dialog v-model="dialog" width="500">
              <v-card>
                <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

                <v-card-text>Do you really with to delete this semester? Once you proceed, the information will be lost forever!</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </template>
      </v-flex>
      <v-flex xs12 lg5 offset-lg1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Semester</v-toolbar-title>
          <v-toolbar-title>
            <v-select dark :items="semesters" v-model="selectedSemester" :style="{width: '50px'}"></v-select>
          </v-toolbar-title>
        </v-toolbar>
        <v-layout wrap :style="{maxHeight: '400px', overflow: 'auto'}">
          <v-flex
            xs12
            lg6
            v-for="(subject, index) in query.subjects[selectedSemester - 1]"
            :key="index"
          >
            <v-card>
              <v-card-title primary-title class="title">{{ subject.name }} - {{ subject.classCode }}</v-card-title>

              <v-card-text>
                Units: {{ subject.units.lecture }} Lecture
                <span
                  v-if="subject.units.laboratory"
                >/ Laboratory: {{ subject.units.laboratory }}</span>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  dark
                  color="primary"
                  :to="`/${$store.state.userGroup}/subject/${subject._id}`"
                >Subject Details</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";
export default {
  data() {
    return {
      selectedSemester: 1
    };
  },

  computed: {
    semesters() {
      return this.query.subjects.map((value, idx) => idx + 1);
    }
  },

  mixins: [updateID]
};
</script>
