<template>
  <v-container grid-list-xl>
    <v-layout>
      <v-flex xs10 offset-xs1>
        <v-layout justify-end>
          <v-btn
            :to="`/${$store.state.userGroup}/news/create`"
            v-if="$store.state.userGroup === `faculty` || $store.state.userGroup === `staff`"
          >Create New News / Announcement</v-btn>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout wrap align-center>
      <v-flex
        xs10
        offset-xs1
        v-for="(news, index) in newsList"
        :key="`news ${index}`"
        class="mt-2 mb-2"
      >
        <v-card>
          <v-layout wrap>
            <v-flex xs12 lg12>
              <v-card-title primary-title class="display-1">{{ news.title }}</v-card-title>
              <v-card-title
                class="subheading"
              >by {{ news.author.firstName }} {{ news.author.lastName }}</v-card-title>
              <v-card-text>
                <div>
                  <v-chip>{{ (new Date(news.createdAt)).toDateString() }}</v-chip>
                  <v-chip v-if="news.__v > 0">Updated {{ news.__v }} times</v-chip>
                </div>
              </v-card-text>
              <v-card-text>{{ news.content.substring(0, 100) }}...</v-card-text>

              <v-card-actions>
                <v-btn color="primary" :to="`/${$store.state.userGroup}/news/${news._id}`">Show More</v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      newsList: []
    };
  },

  created() {
    this.axios
      .post(
        `${this.$store.state.url}/${
          this.$store.state.userGroup
        }/api/news/personal`,
        {
          id: this.$store.state.user._id,
          group: this.$store.state.userGroup
        },
        { withCredentials: true }
      )
      .then(response => (this.newsList = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  }
};
</script>

<style scoped>
* {
  white-space: pre-wrap;
}
</style>
