<template>
  <v-container grid-list-xl>
    <v-layout wrap align-center>
      <v-flex
        xs10
        offset-xs1
        v-for="(news, index) in newsList"
        :key="`news ${index}`"
        class="mt-2 mb-2"
      >
        <v-card>
          <v-layout wrap>
            <v-flex xs12 lg12>
              <v-card-title primary-title class="display-1">{{ news.title }}</v-card-title>
              <v-card-text>
                <div>
                  <v-chip>{{ (new Date(news.createdAt)).toDateString() }}</v-chip>
                  <v-chip v-if="news.__v > 0">Updated {{ news.__v }} times</v-chip>
                </div>
              </v-card-text>
              <v-card-text>{{ news.content.substring(0, 100) }}...</v-card-text>

              <v-card-actions>
                <v-btn color="primary" :to="`/news/${news._id}`">Show More</v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      newsList: []
    };
  },

  created() {
    this.axios
      .get(`${this.$store.state.url}/public`)
      .then(response => (this.newsList = response.data));
  }
};
</script>

<style scoped>
* {
  white-space: pre-wrap;
}
</style>
