<template>
  <v-container grid-list-xl>
    <v-layout>
      <v-flex xs10 offset-xs1>
        <v-btn color="primary" @click="$router.go(-1)">
          <v-icon dark>chevron_left</v-icon>Go Back
        </v-btn>

        <br>
        <br>
        <br>
        <br>
      </v-flex>
    </v-layout>
    <v-layout wrap>
      <v-flex xs10 offset-xs1>
        <p class="display-3">{{ query.title }}</p>
        <p class="subheading">by {{ query.author.firstName }} {{ query.author.lastName }}</p>

        <br>
        <br>
        <v-divider></v-divider>
        <br>
        <br>

        <p>{{ query.content }}</p>

        <br>
        <br>
        <v-divider></v-divider>
        <br>
        <br>

        <v-btn v-if="query.attachment" @click="downloadAttachment">
          <v-icon dark>cloud_download</v-icon>Get Attachment
        </v-btn>
        <v-btn
          v-if="$store.state.userGroup === `staff` || $store.state.user._id === query.author._id"
          :to="`/${$store.state.userGroup}/news/${this.id}/edit`"
        >Edit this Article</v-btn>
        <v-btn
          v-if="$store.state.userGroup === `staff` || $store.state.user._id === query.author._id"
          @click="dialog = !dialog"
          color="error"
        >Delete this Article</v-btn>

        <v-dialog v-model="dialog" width="500">
          <v-card>
            <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

            <v-card-text>Do you really with to delete this account? Once you proceed, the information will be lost forever!</v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";
export default {
  methods: {
    downloadAttachment() {
      let win = window.open(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/files/${
          this.query.attachment
        }`,
        "_blank"
      );
      win.focus();
    }
  },
  mixins: [updateID]
};
</script>
