<template>
  <v-container grid-list-xl>
    <v-layout wrap>
      <v-flex xs10 offset-xs1>
        <v-btn color="primary" @click="$router.go(-1)">
          <v-icon dark>chevron_left</v-icon>Go Back
        </v-btn>

        <br>
        <br>

        <v-toolbar dark color="primary">
          <v-toolbar-title class="headline">Edit this News / Announcement</v-toolbar-title>
        </v-toolbar>

        <v-card class="pt-1">
          <v-form ref="form" v-model="valid" class="pt-3 mx-3">
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  label="Title"
                  v-validate="'required'"
                  v-model="title"
                  clearable
                  :error-messages="errors.collect('Title')"
                  data-vv-name="Title"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea
                  box
                  label="Content"
                  v-validate="'required'"
                  v-model="content"
                  clearable
                  :error-messages="errors.collect('Content')"
                  data-vv-name="Content"
                  auto-grow
                ></v-textarea>
              </v-flex>

              <v-flex xs6 lg2>
                <upload title="Attachments" :fileChangedCallback="attachment">
                  <template slot="icon-left">
                    <v-icon dark>cloud_upload</v-icon>
                  </template>
                </upload>
              </v-flex>
              <v-flex xs6 lg2 v-if="attachmentName">
                <p>{{ attachmentName }}</p>
              </v-flex>
              <v-flex xs12>
                <v-switch v-model="isPrivate" label="Visible to School Members Only?"></v-switch>
              </v-flex>
              <v-flex xs12>
                <v-radio-group
                  v-model="radioGroup"
                  label="Set Level of Visibility"
                  v-if="isPrivate"
                >
                  <v-radio value="staff" label="Staff"></v-radio>
                  <v-radio value="faculty" label="Faculty and Staff"></v-radio>
                  <v-radio value="course" label="Faculty, Staff, and certain courses of Students"></v-radio>
                  <v-radio value="class" label="Faculty, Staff, and certain classes of Students"></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex xs12 lg6 v-if="radioGroup === `course`">
                <v-select
                  :items="courses"
                  v-model="selectedCourses"
                  multiple
                  label="Courses to include"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Courses')"
                  data-vv-name="Courses"
                ></v-select>
              </v-flex>
              <v-flex xs12 lg6 v-if="radioGroup === `class`">
                <v-autocomplete
                  v-model="selectedClasses"
                  multiple
                  :hint="!isEditingClass ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="classes"
                  :readonly="!isEditingClass"
                  :label="`Classes — ${isEditingClass ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplay"
                  :filter="customFilter"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditingClass ? 'success' : 'info'"
                      :key="`icon-${isEditingClass}`"
                      @click="isEditingClass = !isEditingClass"
                      v-text="isEditingClass ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-form>
          <v-card-actions>
            <v-btn @click="sendNewsToServer" :disabled="!valid" color="primary">Submit</v-btn>
            <v-btn color="error">Reset Fields</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UploadButton from "vuetify-upload-button";
export default {
  data() {
    return {
      id: this.$route.params.id,
      title: null,
      valid: true,
      content: null,
      classes: [],
      courses: [],
      selectedCourses: [],
      attachment: null,
      attachmentName: null,
      radioGroup: null,
      selectedClasses: [],
      isEditingClass: false,
      isPrivate: false
    };
  },

  created() {
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/class`,
        { withCredentials: true }
      )
      .then(response => (this.classes = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });

    this.axios
      .get(
        `${this.$store.state.url}/${
          this.$store.state.userGroup
        }/api/curriculum`,
        { withCredentials: true }
      )
      .then(response => {
        const curriculums = response.data;
        this.courses = [
          ...new Set(curriculums.map(curriculum => curriculum.course))
        ];
      })
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });

    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/news/${
          this.id
        }`,
        { withCredentials: true }
      )
      .then(response => {
        this.populateNews(response.data);
      })
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  },

  components: {
    upload: UploadButton
  },

  methods: {
    populateNews(news) {
      this.title = news.title;
      this.content = news.content;
      this.selectedCourses = news.forCourse || null;
      this.selectedClasses = news.forClass || null;
      news.isPrivate ? (this.isPrivate = true) : (this.isPrivate = false);
      news.isStaffLevel ? (this.radioGroup = `staff`) : false;
      news.isFacultyLevel ? (this.radioGroup = `faculty`) : false;
      news.forCourse.length > 0 ? (this.radioGroup = `course`) : false;
      news.forClass.length > 0 ? (this.radioGroup = `class`) : false;
    },

    customDisplay(item) {
      return item._id;
    },

    customFilter(item, query) {
      return item._id.toLowerCase().indexOf(query.toLowerCase());
    },

    attachmentFile(attachment) {
      this.attachment = attachment;
      this.attachmentName = attachment.name;
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },

    sendNewsToServer() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const formData = new FormData();

          if (this.attachment) {
            formData.append("attachment", this.attachment);
          }
          formData.append("content", this.content);
          formData.append("title", this.title);
          formData.append("isPrivate", this.isPrivate);
          formData.append("author", this.$store.state.user._id);
          formData.append("authorType", this.$store.state.userGroup);

          if (this.radioGroup === `staff`) {
            formData.append("isStaffLevel", true);
          } else if (this.radioGroup === `faculty`) {
            formData.append("isFacultyLevel", true);
          } else if (this.radioGroup === `class`) {
            formData.append("forClass", this.selectedClasses);
          } else if (this.radioGroup === `course`) {
            formData.append("forCourse" === this.selectedCourses);
          }

          this.axios
            .patch(
              `${this.$store.state.url}/${
                this.$store.state.userGroup
              }/api/news`,
              formData,
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                },
                withCredentials: true
              }
            )
            .then(() => this.$router.push(`/news`))
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  }
};
</script>
