<template>
  <v-container grid-list-xl>
    <v-layout>
      <v-flex xs10 offset-xs1>
        <v-btn color="primary" @click="$router.go(-1)">
          <v-icon dark>chevron_left</v-icon>Go Back
        </v-btn>

        <br>
        <br>
        <br>
        <br>
      </v-flex>
    </v-layout>
    <v-layout wrap>
      <v-flex xs10 offset-xs1>
        <p class="display-3">{{ query.title }}</p>

        <br>
        <br>
        <v-divider></v-divider>
        <br>
        <br>

        <p>{{ query.content }}</p>

        <br>
        <br>
        <v-divider></v-divider>
        <br>
        <br>

        <v-btn v-if="query.attachment" @click="downloadAttachment">
          <v-icon dark>cloud_download</v-icon>Get Attachment
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";
export default {
  data() {
    return {
      id: this.$route.params.id,
      query: null
    };
  },

  watch: {
    $route(to) {
      this.id = to.params.id;
      this.populate();
    }
  },

  methods: {
    populate() {
      this.axios
        .get(`${this.$store.state.url}/public/${this.id}`)
        .then(response => (this.query = response.data))
        .catch(() => this.$router.push(`/news`));
    },

    downloadAttachment() {
      let win = window.open(
        `${this.$store.state.url}/public/files/${this.query.attachment}
        }`,
        "_blank"
      );
      win.focus();
    }
  },

  mixins: [updateID]
};
</script>
