<template>
  <v-container fluid>
    <v-form ref="form" v-model="valid">
      <v-stepper v-model="step">
        <v-stepper-header>
          <v-stepper-step editable :complete="step > 1" step="1">School Business Hours</v-stepper-step>

          <v-stepper-step editable :complete="step > 2" step="2">Professors and Rooms</v-stepper-step>

          <v-stepper-step step="3">Classes</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card>
              <v-card-title>
                <p class="headline">School Schedule</p>
              </v-card-title>
              <v-card-text>
                <v-layout
                  wrap
                  fill-height
                  align-center
                  v-for="(schedule, innerIndex) in payload.schedule"
                  :key="innerIndex"
                >
                  <v-flex xs12 lg1 :key="`${innerIndex} - 1`">
                    <v-checkbox v-model="schedule.days" label="Monday" value="Monday"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 2`">
                    <v-checkbox v-model="schedule.days" label="Tuesday" value="Tuesday"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 3`">
                    <v-checkbox v-model="schedule.days" label="Wednesday" value="Wednesday"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 4`">
                    <v-checkbox v-model="schedule.days" label="Thursday" value="Thursday"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 5`">
                    <v-checkbox v-model="schedule.days" label="Friday" value="Friday"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 6`">
                    <v-checkbox v-model="schedule.days" label="Saturday" value="Saturday"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 10`">
                    <v-checkbox v-model="schedule.days" label="Sunday" value="Sunday"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 7`">
                    <v-text-field
                      label="after"
                      placeholder="use 24h like 23:00"
                      v-model="schedule.period.after"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 8`">
                    <p class="text-xs12 lg-center">To</p>
                  </v-flex>
                  <v-flex xs12 lg1 :key="`${innerIndex} - 9`">
                    <v-text-field
                      label="before"
                      placeholder="use 24h like 23:00"
                      v-model="schedule.period.before"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 lg1 :key="innerIndex">
                    <v-btn color="error" @click="deleteTimeSlot(innerIndex)">Delete this timeslot</v-btn>
                  </v-flex>
                </v-layout>
                <v-btn color="primary" @click="addTimeSlot">Add a timeslot</v-btn>
              </v-card-text>
              <v-card-actions>
                <v-btn color="info" @click="step = 2">Continue to Next Step</v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-card>
              <v-card-title>
                <p class="headline">Rooms and Faculty</p>
              </v-card-title>

              <v-card-text>
                <template v-for="(resource, index) in payload.resources">
                  <v-layout row wrap :key="`resource${index}`">
                    <v-flex xs12 lg3>
                      <v-text-field
                        label="Name of Room / Professor"
                        v-model="resource.id"
                        v-validate="'required'"
                        clearable
                        :error-messages="errors.collect(`Resource Name ${index + 1}`)"
                        :data-vv-name="`Resource Name ${index + 1}`"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12 lg2 offset-lg1>
                      <v-select
                        v-model="resource.type"
                        :items="resourceType"
                        label="Type of Resource"
                        v-validate="'required'"
                        clearable
                        :error-messages="errors.collect(`Resource Type ${index + 1}`)"
                        :data-vv-name="`Resource Type ${index + 1}`"
                      ></v-select>
                    </v-flex>

                    <v-flex xs12 lg2>
                      <v-btn
                        color="primary"
                        @click="addResourceTimeSlot(index)"
                      >Add this Resource's Timeslot</v-btn>
                    </v-flex>
                    <v-flex xs12 lg1>
                      <v-btn color="error" @click="deleteResource(index)">Delete this Resource</v-btn>
                    </v-flex>
                    <v-flex xs12 lg12>
                      <v-layout
                        row
                        wrap
                        v-for="(schedule, innerIndex) in resource.available"
                        :key="innerIndex"
                      >
                        <v-flex xs12 lg1>
                          <v-checkbox v-model="schedule.days" label="Monday" value="Monday"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-checkbox v-model="schedule.days" label="Tuesday" value="Tuesday"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-checkbox v-model="schedule.days" label="Wednesday" value="Wednesday"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-checkbox v-model="schedule.days" label="Thursday" value="Thursday"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-checkbox v-model="schedule.days" label="Friday" value="Friday"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-checkbox v-model="schedule.days" label="Saturday" value="Saturday"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-checkbox v-model="schedule.days" label="Sunday" value="Sunday"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-text-field
                            label="after"
                            placeholder="ex: 15:00"
                            v-model="schedule.period.after"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <p class="text-xs-center">To</p>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-text-field
                            label="before"
                            placeholder="ex: 23:00"
                            v-model="schedule.period.before"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 lg1>
                          <v-btn color="error" @click="deleteResourceTimeSlot(index, innerIndex)">-</v-btn>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                  <br :key="`resource${index}- 1`">
                  <v-divider :key="`resource${index}- 2`"></v-divider>
                  <br :key="`resource${index}- 3`">
                </template>
                <v-btn color="primary" @click="addResource">Add a Resource</v-btn>
              </v-card-text>

              <v-card-actions>
                <v-btn color="info" outline @click="step = 1">Go back</v-btn>
                <v-btn color="info" @click="step = 3">Continue to the Next Step</v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-card>
              <v-card-title>
                <p class="headline">Classes</p>
              </v-card-title>

              <v-card-text>
                <template v-for="(task, innerIndex) in payload.tasks">
                  <v-layout row wrap :key="`task${innerIndex}`" justify-space-between>
                    <v-flex xs12 lg2>
                      <v-text-field
                        label="Subject Name"
                        v-model="task.subject"
                        v-validate="'required'"
                        clearable
                        :error-messages="errors.collect(`Subject Name ${innerIndex + 1}`)"
                        :data-vv-name="`Subject Name ${innerIndex + 1}`"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 lg2>
                      <v-text-field
                        label="Section"
                        v-model="task.section"
                        v-validate="'required'"
                        placeholder="put 'Irregular' if there is no section"
                        clearable
                        :error-messages="errors.collect(`Section ${innerIndex + 1}`)"
                        :data-vv-name="`Section ${innerIndex + 1}`"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 lg1>
                      <v-text-field
                        label="# of Meetings"
                        v-model.number="task.meetings"
                        v-validate="'required|min_value:1'"
                        clearable
                        :error-messages="errors.collect(`Meetings ${innerIndex + 1}`)"
                        :data-vv-name="`Meetings ${innerIndex + 1}`"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 lg2>
                      <v-text-field
                        v-model.number="task.duration"
                        label="Minutes per Week"
                        v-validate="'required|min_value:1'"
                        clearable
                        :error-messages="errors.collect(`Duration ${innerIndex + 1}`)"
                        :data-vv-name="`Duration ${innerIndex + 1}`"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 lg1>
                      <v-text-field
                        label="Priority (1-10)"
                        v-model.number="task.priority"
                        v-validate="'required|min_value:1|max_value:10'"
                        clearable
                        :error-messages="errors.collect(`Priority ${innerIndex + 1}`)"
                        :data-vv-name="`Priority ${innerIndex + 1}`"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 lg3>
                      <v-autocomplete
                        v-model="task.requirements[0]"
                        multiple
                        :items="payload.resources.filter(resource => resource.type === `Professor`)"
                        :label="`Required Professors`"
                        persistent-hint
                        :item-text="customDisplay"
                        :filter="customFilter"
                        v-validate="'required'"
                        clearable
                        :error-messages="errors.collect(`Professors ${innerIndex + 1}`)"
                        :data-vv-name="`Professors ${innerIndex + 1}`"
                        :item-value="item => `${item.id}|${item.type}`"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 lg3>
                      <v-autocomplete
                        v-model="task.requirements[1]"
                        multiple
                        :items="payload.resources.filter(resource => resource.type === `Room`)"
                        :label="`Required Rooms`"
                        persistent-hint
                        :item-text="customDisplay"
                        :filter="customFilter"
                        :item-value="item => `${item.id}|${item.type}`"
                        v-validate="'required'"
                        clearable
                        :error-messages="errors.collect(`Professors ${innerIndex + 1}`)"
                        :data-vv-name="`Professors ${innerIndex + 1}`"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 lg1>
                      <v-btn color="error" @click="deleteClassTask(innerIndex)">-</v-btn>
                    </v-flex>
                  </v-layout>
                  <br :key="`task${innerIndex}- 1`">
                  <v-divider :key="`task${innerIndex}- 2`"></v-divider>
                  <br :key="`task${innerIndex}- 3`">
                </template>
                <v-btn color="primary" @click="addClassTask">Add a Class</v-btn>
              </v-card-text>

              <v-card-actions>
                <v-btn color="info" outline @click="step = 2">Go back</v-btn>
                <v-btn color="success" @click="submitForm" :disabled="!valid">Submit</v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-form>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      step: 1,
      payload: {
        schedule: [],
        tasks: [],
        resources: []
      },
      resourceType: [`Room`, `Professor`],
      valid: true
    };
  },
  methods: {
    customDisplay(item) {
      return item.id;
    },

    customFilter(item, query) {
      return item.id.toLowerCase().indexOf(query.toLowerCase());
    },

    addTimeSlot() {
      this.payload.schedule.push({
        days: [],
        period: { before: undefined, after: undefined }
      });
    },
    deleteTimeSlot(index) {
      this.payload.schedule.splice(index, 1);
    },
    addResourceTimeSlot(index) {
      this.payload.resources[index].available.push({
        days: [],
        period: { before: undefined, after: undefined }
      });
    },
    deleteResourceTimeSlot(index, innerIndex) {
      this.payload.resources[index].available.splice(innerIndex, 1);
    },
    addClassTask() {
      this.payload.tasks.push({
        subject: undefined,
        duration: undefined,
        meetings: undefined,
        priority: undefined,
        requirements: [[], []]
      });
    },
    deleteClassTask(index) {
      this.payload.tasks.splice(index, 1);
    },
    addResource() {
      this.payload.resources.push({
        id: undefined,
        available: []
      });
    },
    deleteResource(index) {
      this.payload.resources.splice(index, 1);
    },
    pushToRoom(index, $event) {
      let arr = $event.target.value;
      arr = arr.split(`,`);
      arr = arr.map(data => (data = `${data.trim()}|Room`));
      this.payload.tasks[index].requirements[1] = arr;
    },
    pushToProf(index, $event) {
      let arr = $event.target.value;
      arr = arr.split(`,`);
      arr = arr.map(data => (data = `${data.trim()}|Professor`));
      this.payload.tasks[index].requirements[0] = arr;
    },
    submitForm() {
      const payload = {};
      payload.schedule = this.payload.schedule;
      payload.tasks = this.payload.tasks.map(task => {
        return {
          subject: `${task.subject}|${task.section}`,
          duration: task.duration,
          meetings: task.meetings,
          priority: task.priority,
          requirements: task.requirements
        };
      });
      payload.resources = this.payload.resources.map(resource => {
        return {
          id: `${resource.id}|${resource.type}`,
          available: resource.available
        };
      });

      const hours = {};
      hours.startTime = this.convertToTimeStamp(
        Math.min(
          ...this.payload.schedule.map(schedInstance =>
            this.getScheduleTimestamp(schedInstance.period.after)
          )
        )
      );
      hours.endTime = this.convertToTimeStamp(
        Math.max(
          ...this.payload.schedule.map(schedInstance =>
            this.getScheduleTimestamp(schedInstance.period.before)
          )
        )
      );

      const sections = [
        ...new Set(this.payload.tasks.map(task => task.section))
      ];

      const professors = [
        ...new Set(
          this.payload.resources
            .filter(resource => resource.type === `Professor`)
            .map(resource => resource.id)
        )
      ];

      const rooms = [
        ...new Set(
          this.payload.resources
            .filter(resource => resource.type === `Room`)
            .map(resource => resource.id)
        )
      ];

      this.$store.commit(`resetSchedule`);

      sections.forEach(section =>
        this.$store.commit(`pushToSections`, section)
      );
      professors.forEach(professor =>
        this.$store.commit(`pushToProfessors`, professor)
      );
      rooms.forEach(room => this.$store.commit(`pushToRooms`, room));
      this.$store.commit(`pushScheduleTime`, hours);

      this.axios
        .post(
          `${this.$store.state.url}/${
            this.$store.state.userGroup
          }/api/schedule`,
          payload,
          {
            withCredentials: true
          }
        )
        .then(response => {
          this.$store.commit(`populatePayload`, response.data);
          this.$router.push(`/${this.$store.state.userGroup}/schedule/result`);
        });
    },
    getScheduleTimestamp(time) {
      //accepts hh:mm format - convert hh:mm to timestamp
      const arr = time.split(`:`);
      const timeStamp = parseInt(arr[0]) * 60 + parseInt(arr[1]);
      return timeStamp;
    },

    convertToTimeStamp(num) {
      return `${String(Math.floor(num / 60)).padStart(2, `0`)}:${String(
        Math.floor(num % 60)
      ).padStart(2, `0`)}`;
    }
  }
};
</script>
