<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Subjects</v-toolbar-title>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            color="white"
            v-model="query"
            placeholder="Enter the subject's name here"
          ></v-text-field>
          <v-icon class="hidden-sm-and-down">search</v-icon>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <template v-if="$store.state.user.role==='Program Head'">
            <v-spacer></v-spacer>
            <v-btn
              class="hidden-sm-and-down"
              dark
              flat
              @click="dialog = !dialog"
            >Create a New Subject</v-btn>
            <v-btn class="hidden-lg-and-up" dark flat @click="dialog = !dialog">
              <v-icon>add</v-icon>
            </v-btn>
            <v-dialog v-model="dialog" persistent max-width="960px">
              <v-card>
                <v-card-title>
                  <p class="headline">Create a Subject</p>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-lg>
                    <v-form ref="form" v-model="valid">
                      <v-layout wrap>
                        <v-flex xs12 lg9>
                          <v-text-field
                            label="Subject Name"
                            v-model="name"
                            v-validate="'required'"
                            clearable
                            :error-messages="errors.collect('Name')"
                            data-vv-name="Name"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 lg3>
                          <v-text-field
                            label="Class Code"
                            v-model="classCode "
                            v-validate="'required'"
                            clearable
                            :error-messages="errors.collect('Class Code')"
                            data-vv-name="Class Code"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 lg4>
                          <v-switch v-model="isCountedGPA" label="Counted for GPA Purposes?"></v-switch>
                        </v-flex>
                        <v-flex xs12 lg4>
                          <v-text-field
                            label="# of Lecture Units"
                            v-model="lectureUnits"
                            v-validate="'required|min_value:1'"
                            clearable
                            :error-messages="errors.collect('Lecture Units')"
                            data-vv-name="Lecture Units"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 lg4>
                          <v-text-field
                            label="# of Laboratory Units (Optional)"
                            v-model="laboratoryUnits"
                            v-validate="'min_value:0'"
                            clearable
                            :error-messages="errors.collect('Laboratory Units')"
                            data-vv-name="Laboratory Units"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <p class="Title">Prerequisites (Optional)</p>
                      <v-layout wrap>
                        <v-flex xs12 lg9>
                          <v-autocomplete
                            multiple
                            v-model="prerequisites.subjects"
                            :hint="!isEditing ? 'Click the icon to edit' : 'Click the icon to save'"
                            :items="list"
                            :readonly="!isEditing"
                            :label="`Prerequisite Subjects — ${isEditing ? 'Editable' : 'Read only'}`"
                            persistent-hint
                            :item-text="customDisplay"
                            :filter="customFilter"
                            item-value="_id"
                          >
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                              <v-icon
                                :color="isEditing ? 'success' : 'info'"
                                :key="`icon-${isEditing}`"
                                @click="isEditing = !isEditing"
                                v-text="isEditing ? 'check' : 'edit'"
                              ></v-icon>
                            </v-slide-x-reverse-transition>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 lg3>
                          <v-text-field
                            label="Prerequisite Year Level"
                            v-model="prerequisites.yearLevel"
                            v-validate="'min_value:1'"
                            clearable
                            :error-messages="errors.collect('Year Level')"
                            data-vv-name="Year Level"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-btn flat color="primary" @click="clearAndCancel">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" :disabled="!valid" @click="validate">Submit</v-btn>
                  <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
                  <v-dialog v-model="loaderDialog" persistent width="300">
                    <v-card color="primary" dark>
                      <v-card-text>Creating a subject...
                        <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
        </v-toolbar>
        <v-toolbar color="primary" dark class="hidden-lg-and-up pa-3">
          <v-text-field color="white" v-model="query" placeholder="Enter the subject name here"></v-text-field>
          <v-icon>search</v-icon>
        </v-toolbar>
        <v-container grid-list-lg>
          <v-layout
            row
            wrap
            :style="{overflow: 'auto', maxHeight: '700px'}"
            v-if="subjectList.length !== 0"
          >
            <v-flex xs12 lg6 v-for="subject in subjectList" :key="subject.id">
              <v-card :key="`${subject.id} - card`" class="pb-2 pt-2">
                <v-card-title primary-title class="headline">{{ subject.name }}</v-card-title>
                <v-card-actions>
                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/subject/${subject._id}`"
                  >Subject Details</v-btn>
                </v-card-actions>
              </v-card>
              <v-divider :key="`${subject.id} - divider`"></v-divider>
            </v-flex>
          </v-layout>
          <v-layout
            v-else
            row
            wrap
            :style="{overflow: 'auto', minHeight: '700px', maxHeight: '700px'}"
          >
            <v-flex xs12>
              <v-layout align-center justify-center row fill-height>
                <p class="display-2 text-xs-center">No subjects found.</p>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import listAll from "../../mixins/listAll";

export default {
  data() {
    return {
      loaderDialog: false,
      dialog: false,
      valid: true,
      name: null,
      classCode: null,
      isCountedGPA: false,
      lectureUnits: null,
      laboratoryUnits: null,
      prerequisites: {
        subjects: [],
        yearLevel: null
      },
      isEditing: false
    };
  },

  methods: {
    customFilter(item, query) {
      return (
        item.name.toLowerCase().indexOf(query.toLowerCase()) ||
        item.classCode.toLowerCase().indexOf(query.toLowerCase())
      );
    },

    clearAndCancel() {
      this.resetForm();
      this.dialog = false;
    },

    customDisplay(item) {
      return `${item.name} - ${item.classCode}`;
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },

    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.loaderDialog = true;
          const payload = {
            name: this.name,
            classCode: this.classCode,
            isCountedGPA: this.isCountedGPA,
            units: {
              lecture: parseInt(this.lectureUnits)
            },
            prerequisites: {}
          };
          if (this.laboratoryUnits) {
            payload.units.laboratory = parseInt(this.laboratoryUnits);
          }
          if (this.prerequisites.subjects.length > 0) {
            payload.prerequisites.subjects = this.prerequisites.subjects;
          }
          if (this.prerequisites.yearLevel) {
            payload.prerequisites.yearLevel = parseInt(
              this.prerequisites.yearLevel
            );
          }
          if (
            this.prerequisites.subjects.length <= 0 &&
            !this.prerequisites.yearLevel
          ) {
            delete payload.prerequisites;
          }
          this.axios
            .post(
              `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
                this.type
              }`,
              payload,
              { withCredentials: true }
            )
            .then(() => {
              this.loaderDialog = false;
              this.$router.go();
            })
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  },

  computed: {
    subjectList() {
      if (this.query === null || this.query === "") {
        return this.list;
      } else {
        return this.list.filter(
          subject =>
            subject.name.toLowerCase().indexOf(this.query.toLowerCase()) >= 0
        );
      }
    }
  },
  mixins: [listAll]
};
</script>
