<template>
  <v-container fluid fill-height>
    <v-layout row wrap align-center justify-center>
      <v-flex xs12 lg5 offset-lg1 class="text-xs-center">
        <p class="display-1 font-weight-light">{{ query.name }} - {{ query.classCode }}</p>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <p class="headline">ID: {{ query._id }}</p>
        <br>
        <br>
        <br>

        <p class="headline">
          Counted in GPA?: &nbsp;
          <span
            :class="query.isCountedGPA ? `green--text` : `red--text`"
          >{{query.isCountedGPA ? `Yes` : `No`}}</span>
        </p>
        <br>
        <br>
        <p class="headline">Units</p>
        <br>

        <p class="subheading">Lecture: {{ query.units.lecture }} Units</p>
        <p
          v-if="query.units.laboratory"
          class="subheading"
        >Laboratory: {{ query.units.laboratory }} Units</p>
      </v-flex>
      <v-flex xs12 lg5 class="text-xs-center">
        <p class="display-1 font-weight-light">Prerequisites</p>
        <br>
        <br>
        <template v-if="query.prerequisites.subjects">
          <p
            v-for="(prerequisite, index) in query.prerequisites.subjects"
            :key="index"
            class="headline"
          >{{ prerequisite.name }} - {{ prerequisite.classCode }}</p>
        </template>

        <br>
        <p class="headline">Year Level: {{ query.prerequisites.yearLevel }}</p>
        <br>
        <br>
        <template v-if="$store.state.user.role === `Program Head`">
          <v-btn color="primary" @click="editDialog = !editDialog">Edit Subject</v-btn>
          <v-dialog v-model="editDialog" persistent max-width="960px">
            <v-card>
              <v-card-title>
                <p class="headline">Edit this Subject</p>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-lg>
                  <v-form ref="form" v-model="valid">
                    <v-layout wrap>
                      <v-flex xs12 lg9>
                        <v-text-field
                          label="Subject Name"
                          v-model="editsToSubject.name"
                          v-validate="'required'"
                          clearable
                          :error-messages="errors.collect('Name')"
                          data-vv-name="Name"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg3>
                        <v-text-field
                          label="Class Code"
                          v-model="editsToSubject.classCode "
                          v-validate="'required'"
                          clearable
                          :error-messages="errors.collect('Class Code')"
                          data-vv-name="Class Code"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg4>
                        <v-switch
                          v-model="editsToSubject.isCountedGPA"
                          label="Counted for GPA Purposes?"
                        ></v-switch>
                      </v-flex>
                      <v-flex xs12 lg4>
                        <v-text-field
                          label="# of Lecture Units"
                          v-model="editsToSubject.units.lecture"
                          v-validate="'required|min_value:1'"
                          clearable
                          :error-messages="errors.collect('Lecture Units')"
                          data-vv-name="Lecture Units"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 lg4>
                        <v-text-field
                          label="# of Laboratory Units (Optional)"
                          v-model="editsToSubject.units.laboratory"
                          v-validate="'min_value:0'"
                          clearable
                          :error-messages="errors.collect('Laboratory Units')"
                          data-vv-name="Laboratory Units"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <p class="Title">Prerequisites (Optional)</p>
                    <v-layout wrap>
                      <v-flex xs12 lg9>
                        <v-autocomplete
                          multiple
                          v-model="editsToSubject.prerequisites.subjects"
                          :hint="!isEditing ? 'Click the icon to edit' : 'Click the icon to save'"
                          :items="list"
                          :readonly="!isEditing"
                          :label="`Prerequisite Subjects — ${isEditing ? 'Editable' : 'Read only'}`"
                          persistent-hint
                          :item-text="customDisplay"
                          :filter="customFilter"
                          item-value="_id"
                        >
                          <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                            <v-icon
                              :color="isEditing ? 'success' : 'info'"
                              :key="`icon-${isEditing}`"
                              @click="isEditing = !isEditing"
                              v-text="isEditing ? 'check' : 'edit'"
                            ></v-icon>
                          </v-slide-x-reverse-transition>
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 lg3>
                        <v-text-field
                          label="Prerequisite Year Level"
                          v-model="editsToSubject.prerequisites.yearLevel"
                          v-validate="'min_value:1'"
                          clearable
                          :error-messages="errors.collect('Year Level')"
                          data-vv-name="Year Level"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-btn flat color="primary" @click="clearAndCancel">Cancel</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" :disabled="!valid" @click="validate">Submit</v-btn>
                <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
                <v-dialog v-model="loaderDialog" persistent width="300">
                  <v-card color="primary" dark>
                    <v-card-text>Editing this subject...
                      <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                    </v-card-text>
                  </v-card>
                </v-dialog>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-btn color="error" @click="dialog = !dialog">Delete Subject</v-btn>
          <div>
            <v-dialog v-model="dialog" width="500">
              <v-card>
                <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

                <v-card-text>Do you really with to delete this subject? Once you proceed, the information will be lost forever!</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import updateID from "../../mixins/updateID";
export default {
  data() {
    return {
      list: null,
      editDialog: false,
      loaderDialog: false,
      valid: true,
      isEditing: false,
      editsToSubject: null
    };
  },

  watch: {
    query() {
      this.editsToSubject = JSON.parse(JSON.stringify(this.query));
    }
  },

  created() {
    this.populate();
    this.axios
      .get(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
          this.type
        }`,
        { withCredentials: true }
      )
      .then(response => (this.list = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  },

  methods: {
    customFilter(item, query) {
      return (
        item.name.toLowerCase().indexOf(query.toLowerCase()) ||
        item.classCode.toLowerCase().indexOf(query.toLowerCase())
      );
    },

    clearAndCancel() {
      this.resetForm();
      this.editDialog = false;
    },

    customDisplay(item) {
      return `${item.name} - ${item.classCode}`;
    },

    resetForm() {
      this.editsToSubject = JSON.parse(JSON.stringify(this.query));
      this.$validator.reset();
    },

    validate() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          this.loaderDialog = true;
          this.axios
            .patch(
              `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
                this.type
              }/${this.id}`,
              this.editsToSubject,
              { withCredentials: true }
            )
            .then(() => {
              this.loaderDialog = false;
              this.$router.go();
            })
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  },

  mixins: [updateID]
};
</script>
