<template>
  <v-container fluid fill-height grid-list-xl>
    <v-layout row wrap>
      <v-flex xs10 offset-xs1>
        <v-btn color="primary" @click="$router.go(-1)">
          <v-icon dark>chevron_left</v-icon>Go Back
        </v-btn>
        <br>
        <br>
        <v-toolbar dark color="primary">
          <v-toolbar-title class="headline">Edit this Profile</v-toolbar-title>
        </v-toolbar>
        <v-card class="pt-1">
          <v-form ref="form" v-model="valid" class="pt-3 mx-3">
            <p class="display-1">Personal Details</p>
            <v-layout row wrap>
              <v-flex xs12 lg4>
                <v-text-field
                  label="First Name"
                  v-model="firstName"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('First Name')"
                  data-vv-name="First Name"
                ></v-text-field>
              </v-flex>
              <v-flex x12 lg4>
                <v-text-field
                  label="Middle Name"
                  v-model="middleName"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Middle Name')"
                  data-vv-name="Middle Name"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 lg4>
                <v-text-field
                  label="Last Name"
                  v-model="lastName"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Last Name')"
                  data-vv-name="Last Name"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 lg4>
                <v-menu
                  ref="menu"
                  :close-on-content-click="false"
                  v-model="menu"
                  :nudge-right="40"
                  :return-value.sync="birthday"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="birthday"
                    label="Birthday"
                    prepend-icon="event"
                    readonly
                    clearable
                    :rules="[v => !!v || `Birthday is required.`]"
                  ></v-text-field>
                  <v-date-picker
                    v-model="birthday"
                    no-title
                    scrollable
                    :max="new Date(new Date().setFullYear(new Date().getFullYear() - 13))
    .toISOString()
    .substr(0, 10)"
                  >
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menu.save(birthday)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 lg2>
                <v-select
                  :items="genderItems"
                  label="Gender"
                  v-model="gender"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Gender')"
                  data-vv-name="Gender"
                ></v-select>
              </v-flex>
              <v-flex xs12 lg3>
                <v-select
                  :items="civilStatusItems"
                  label="Civil Status"
                  v-model="civilStatus"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Civil Status')"
                  data-vv-name="Civil Status"
                ></v-select>
              </v-flex>
              <v-flex xs12 lg3 v-if="this.$route.params.id">
                <v-autocomplete
                  v-model="curriculum"
                  :hint="!isEditing ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="curriculumList"
                  :readonly="!isEditing"
                  :label="`Curriculum — ${isEditing ? 'Editable' : 'Read only'}`"
                  persistent-hint
                  :item-text="customDisplay"
                  :filter="customFilter"
                  item-value="_id"
                >
                  <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                    <v-icon
                      :color="isEditing ? 'success' : 'info'"
                      :key="`icon-${isEditing}`"
                      @click="isEditing = !isEditing"
                      v-text="isEditing ? 'check' : 'edit'"
                    ></v-icon>
                  </v-slide-x-reverse-transition>
                </v-autocomplete>
              </v-flex>
            </v-layout>
            <br>
            <p class="display-1">Address</p>
            <v-layout row wrap>
              <v-flex xs12 lg2>
                <v-text-field
                  prefix="#"
                  label="House Number"
                  v-model="houseNumber"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('House Number')"
                  data-vv-name="House Number"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 lg3>
                <v-text-field
                  label="Street"
                  v-model="street"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Street')"
                  data-vv-name="Street"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 lg3>
                <v-text-field
                  label="Barangay"
                  v-model="barangay"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Barangay')"
                  data-vv-name="Barangay"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 lg2>
                <v-text-field
                  label="City"
                  v-model="city"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('City')"
                  data-vv-name="City"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 lg2>
                <v-text-field
                  label="Province"
                  v-model="province"
                  v-validate="'required'"
                  clearable
                  :error-messages="errors.collect('Province')"
                  data-vv-name="Province"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <br>
            <p class="display-1">Credentials</p>
            <v-slide-y-transition
              tag="v-card"
              flat
              v-for="(credential, index) in credentials"
              :key="index"
            >
              <v-layout row wrap :key="index">
                <v-flex xs12 lg5 :key="`${index} - 1`">
                  <v-text-field
                    label="School Name"
                    v-validate="'required'"
                    v-model="credential.schoolName"
                    clearable
                    :error-messages="errors.collect(`School Name ${index + 1}`)"
                    :data-vv-name="`School Name ${index + 1}`"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 lg4 :key="`${index} - 2`" transition="slide-y-transition">
                  <v-text-field
                    label="Educational Attainment"
                    v-validate="'required'"
                    v-model="credential.educationalLevel"
                    clearable
                    :error-messages="errors.collect(`Educational Attainment ${index + 1}`)"
                    :data-vv-name="`Educational Attainment ${index + 1}`"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 lg2 :key="`${index} - 3`">
                  <v-text-field
                    label="Year Graduated"
                    v-validate="'required|digits:4'"
                    v-model="credential.yearGraduated"
                    clearable
                    :error-messages="errors.collect(`Year Graduated ${index + 1}`)"
                    :data-vv-name="`Year Graduated ${index + 1}`"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 lg1 :key="index">
                  <v-btn @click="removeCredential(index)" color="error">Remove</v-btn>
                </v-flex>
              </v-layout>
            </v-slide-y-transition>
            <v-btn @click="addCredential">Add Credentials</v-btn>
            <br>
            <br>
            <v-layout row wrap>
              <v-flex xs12 lg3>
                <v-btn color="primary" :disabled="!valid" @click="sendFormToServer">Submit</v-btn>
                <v-btn color="error" @click="resetForm">Reset Fields</v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      id: this.$route.params.id || this.$store.state.user._id,
      firstName: "",
      middleName: "",
      lastName: "",
      valid: true,
      menu: false,
      birthday: null,
      gender: null,
      genderItems: ["Male", "Female"],
      civilStatus: null,
      civilStatusItems: ["Single", "Married"],
      curriculum: null,
      curriculumList: null,
      isEditing: false,
      houseNumber: null,
      street: null,
      barangay: null,
      city: null,
      province: null,
      credentials: [
        {
          yearGraduated: null,
          educationalLevel: null,
          schoolName: null
        }
      ],
      email: null,
      password: null,
      showPassword: false
    };
  },
  watch: {
    $route(to) {
      this.id = to.params.id;
      this.populate();
    }
  },

  created() {
    this.populate();
    this.axios
      .get(
        `${this.$store.state.url}/${
          this.$store.state.userGroup
        }/api/curriculum`,
        { withCredentials: true }
      )
      .then(response => (this.curriculumList = response.data))
      .catch(() => {
        this.$store.dispatch(`logout`);
        this.$router.push(`/`);
      });
  },

  methods: {
    populate() {
      this.axios
        .get(
          `${this.$store.state.url}` +
            "/" +
            `${this.$store.state.userGroup}` +
            "/api/student/" +
            this.id,
          { withCredentials: true }
        )
        .then(response => {
          const data = response.data;
          this.firstName = data.firstName;
          this.middleName = data.middleName;
          this.lastName = data.lastName;
          this.birthday = new Date(data.birthday).toISOString().substr(0, 10);
          this.gender =
            data.gender.charAt(0).toUpperCase() + data.gender.slice(1);
          this.civilStatus = data.civilStatus;
          if (this.$route.params.id) {
            this.curriculum = data.curriculum._id;
          }
          this.houseNumber = data.houseNumber.slice(1);
          this.street = data.street;
          this.barangay = data.barangay;
          this.city = data.city;
          this.province = data.province;
          this.credentials = data.credentials;
        })
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    },

    customFilter(item, query) {
      return `${item.course} - ${item.year}`
        .toLowerCase()
        .indexOf(query.toLowerCase());
    },

    customDisplay(item) {
      return `${item.course} - ${item.year}`;
    },

    addCredential() {
      this.credentials.push({
        yearGraduated: null,
        educationalLevel: null,
        schoolName: null
      });
    },

    removeCredential(index) {
      this.credentials.splice(index, 1);
    },

    resetForm() {
      this.$refs.form.reset();
      this.$validator.reset();
    },
    sendFormToServer() {
      this.$validator.validateAll().then(() => {
        if (this.valid) {
          const payload = {
            firstName: this.firstName,
            middleName: this.middleName,
            lastName: this.lastName,
            birthday: new Date(this.birthday),
            gender: this.gender,
            civilStatus: this.civilStatus,
            houseNumber: `#${this.houseNumber}`,
            street: this.street,
            barangay: this.barangay,
            city: this.city,
            province: this.province,
            credentials: this.credentials.map(credential => {
              credential.yearGraduated = parseInt(credential.yearGraduated);
              return credential;
            }),
            email: this.email,
            password: this.password
          };
          if (this.$route.params.id) {
            payload.curriculum = this.curriculum;
          }
          this.axios
            .patch(
              `${this.$store.state.url}` +
                "/" +
                `${this.$store.state.userGroup}` +
                "/api/student/" +
                this.id,
              payload,
              {
                withCredentials: true
              }
            )
            .then(response => {
              if (!this.$route.params.id) {
                this.$store.dispatch(`login`, {
                  user: response.data,
                  userGroup: this.$store.state.userGroup
                });
                this.$router.push(`/${this.$store.state.userGroup}/profile`);
              } else {
                this.$router.push(
                  `/${this.$store.state.userGroup}/student/${
                    this.$route.params.id
                  }`
                );
              }
            })
            .catch(() => {
              this.$store.dispatch(`logout`);
              this.$router.push(`/`);
            });
        }
      });
    }
  }
};
</script>
