<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <v-toolbar color="primary" dark>
          <v-toolbar-title class="hidden-sm-and-down">Students</v-toolbar-title>
          <v-spacer class="hidden-sm-and-down"></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            color="white"
            v-model="query"
            placeholder="Enter the student's name here"
          ></v-text-field>
          <v-icon class="hidden-sm-and-down">search</v-icon>
          <template v-if="$store.state.user.role==='Registrar'">
            <v-dialog v-model="statsDialog" width="500">
              <v-card>
                <v-card-title primary-title class="title">Current Stats for Students</v-card-title>
                <v-card-text>
                  <p>Total Students: {{ studentStats.total }}</p>
                  <p>Total Enrolled Students: {{ studentStats.enrolled }}</p>
                  <p>Enrolled Students per Course:</p>
                  <ul>
                    <div v-for="(course, index) in studentStats.courses" :key="`course ${index}`">
                      <li>{{ course.course }}</li>
                      <ul>
                        <li
                          v-for="(count, innerIndex) in course.studentCount"
                          :key="`count ${index} ${innerIndex}`"
                        >Year {{ innerIndex + 1 }}: {{ count }} student(s)</li>
                      </ul>
                    </div>
                  </ul>
                </v-card-text>
              </v-card>
            </v-dialog>
            <v-spacer>
              <v-btn flat dark @click="statsDialog = !statsDialog">Stats</v-btn>
            </v-spacer>
            <v-spacer></v-spacer>
            <v-btn
              class="hidden-sm-and-down"
              dark
              :to="`/${this.$store.state.userGroup}/student/create`"
              flat
            >Sign up a Student</v-btn>
            <v-btn
              :to="`/${this.$store.state.userGroup}/student/create`"
              flat
              class="hidden-lg-and-up"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </template>
        </v-toolbar>
        <v-toolbar color="primary" dark class="hidden-lg-and-up pa-3">
          <v-text-field color="white" v-model="query" placeholder="Enter the student's name here"></v-text-field>
          <v-icon>search</v-icon>
        </v-toolbar>
        <v-container grid-list-lg>
          <v-layout
            v-if="studentQuery.length !== 0"
            row
            wrap
            :style="{overflow: 'auto', maxHeight: '700px'}"
          >
            <v-flex xs12 lg6 :key="student.id" v-for="student in studentQuery">
              <v-card :key="student.id" class="pb-2 pt-2">
                <v-card-title
                  primary-title
                  class="headline"
                >{{ student.lastName }}, {{ student.firstName }} {{ student.middleName }}</v-card-title>
                <v-card-actions>
                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/student/${student._id}`"
                  >Student Details</v-btn>
                </v-card-actions>
              </v-card>
              <v-divider :key="student.id"></v-divider>
            </v-flex>
          </v-layout>
          <v-layout
            v-else
            row
            wrap
            :style="{overflow: 'auto', minHeight: '700px', maxHeight: '700px'}"
          >
            <v-flex xs12>
              <v-layout align-center justify-center row fill-height>
                <p class="display-2 text-xs-center">No students found.</p>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import listAll from "../../mixins/listAll";

export default {
  data() {
    return {
      statsDialog: false,
      studentStats: {}
    };
  },

  beforeMount() {
    if (this.$store.state.user.role === `Registrar`) {
      this.axios
        .get(
          `${this.$store.state.url}/${
            this.$store.state.userGroup
          }/api/student/stats`,
          {
            withCredentials: true
          }
        )
        .then(response => (this.studentStats = response.data))
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    }
  },

  computed: {
    studentQuery() {
      if (this.query === null || this.query === "") {
        return this.list;
      } else {
        return this.list.filter(
          student =>
            `${student.lastName}, ${student.firstName} ${student.middleName}`
              .toLowerCase()
              .indexOf(this.query.toLowerCase()) >= 0
        );
      }
    }
  },

  mixins: [listAll]
};
</script>
