<template>
  <v-container fluid grid-list-lg>
    <v-layout row>
      <v-flex xs12 lg4 offset-lg4>
        <p
          class="display-1 font-weight-light"
        >{{ this.user.lastName }}, {{ this.user.firstName }} {{ this.user.middleName }}</p>

        <br>
        <v-divider></v-divider>
        <br>
        <p class="subheading">ID: {{ this.user._id }}</p>
        <p class="subheading">
          E-mail: {{ this.user.email }}
          <span>
            <v-btn color="primary">Change Email</v-btn>
          </span>
          <span>
            <v-btn color="primary">Change Password</v-btn>
          </span>
        </p>
        <v-divider></v-divider>
        <br>
        <p class="subheading">Birthday: {{ (new Date(this.user.birthday)).toDateString() }}</p>
        <p class="subheading">Gender: {{ this.user.gender | capitalize }}</p>
        <p class="subheading">Civil Status: {{ this.user.civilStatus }}</p>
        <p
          class="subheading"
        >Address: {{ `${this.user.houseNumber} ${this.user.street} St., Brgy. ${this.user.barangay}, ${this.user.city}, ${this.user.province}` }}</p>
        <v-divider></v-divider>
        <br>
        <p class="subheading">Course: {{ this.user.curriculum.course }}</p>
        <router-link
          class="subheading"
          :to="`/${$store.state.userGroup}/semester/${this.user.curriculum._id}`"
          :style="{cursor: 'pointer'}"
          tag="p"
        >Curriculum: {{ this.user.curriculum.year }}</router-link>
        <p class="subheading">Year Level: {{ this.user.yearLevel }}</p>
        <p class="subheading">
          Regular Student:
          <span
            :class="this.user.isRegular ? `green--text` : `red--text`"
          >{{ this.user.isRegular ? `Yes` : `No` }}</span>
        </p>
        <p class="subheading">GPA Average: {{ gpaAverage }}</p>

        <v-divider></v-divider>
        <br>
        <p class="subheading">
          Currently Enrolled:
          <span
            :class="this.user.enrollmentStatus.isCurrentlyEnrolled ? `green--text` : `red--text`"
          >{{ this.user.enrollmentStatus.isCurrentlyEnrolled ? `Yes` : `No` }}</span>
        </p>
        <p class="subheading">
          is Prelims Paid?:
          <span
            :class="this.user.enrollmentStatus.hasPaidPrelims ? `green--text` : `red--text`"
          >{{ this.user.enrollmentStatus.hasPaidPrelims ? `Yes` : `No` }}</span>
        </p>
        <p class="subheading">
          is Midterms Paid?:
          <span
            :class="this.user.enrollmentStatus.hasPaidMidterms ? `green--text` : `red--text`"
          >{{ this.user.enrollmentStatus.hasPaidMidterms ? `Yes` : `No` }}</span>
        </p>
        <p class="subheading">
          is Finals Paid?:
          <span
            :class="this.user.enrollmentStatus.hasPaidFinals ? `green--text` : `red--text`"
          >{{ this.user.enrollmentStatus.hasPaidFinals ? `Yes` : `No` }}</span>
        </p>
        <v-divider></v-divider>
        <br>
        <p class="headline">Credentials</p>
        <div v-for="(credential, index) in this.user.credentials" :key="index">
          <div class="subheading">
            <v-layout row wrap>
              <v-flex xs12>
                <span>School Name: {{credential.schoolName}}</span>
              </v-flex>
              <v-flex xs12>
                <span>Year Graduated: {{credential.yearGraduated}}</span>
              </v-flex>
              <v-flex xs12>
                <span>Educational Level: {{credential.educationalLevel}}</span>
              </v-flex>
            </v-layout>
          </div>
          <br>
          <br>
        </div>
        <v-divider></v-divider>
        <br>
        <br>
        <v-btn color="primary" :to="`/${this.$store.state.userGroup}/profile/edit`">Edit Profile</v-btn>
        <v-btn
          outline
          color="primary"
          @click="getAssessment"
          :loading="isLoadingAssessment"
          :disabled="isLoadingAssessment"
        >Get Evaluation</v-btn>
        <div>
          <v-dialog v-model="assessmentDialog" width="500" v-if="assessment" persistent>
            <v-card>
              <v-card-title class="headline blue white--text" primary-title>Evaluation</v-card-title>

              <v-card-text v-if="assessment.regular">
                <p>These subjects are needed to be a regular student again:</p>
                <ul>
                  <li v-for="(subject, index) in assessment.regular" :key="index">
                    {{ subject.classCode }} - {{ subject.name }} - {{ subject.units.lecture }} Lecture
                    <span
                      v-if="subject.units.laboratory"
                    >/ {{ subject.units.laboratory }} Laboratory</span> Units
                  </li>
                </ul>
              </v-card-text>
              <v-card-text v-else>You are a regular student.</v-card-text>
              <v-card-text v-if="assessment.subjects.length !== 0">
                <p>These are the subjects you're allowed to enroll:</p>
                <ul>
                  <li v-for="(subject, index) in assessment.subjects" :key="index">
                    {{ subject.classCode }} - {{ subject.name }} - {{ subject.units.lecture }} Lecture
                    <span
                      v-if="subject.units.laboratory"
                    >/ {{ subject.units.laboratory }} Laboratory</span> Units
                  </li>
                </ul>
              </v-card-text>

              <v-card-text
                v-if="assessment.subjects.length === 0"
              >You completed all the subjects in the curriculum. Congratulations! You are now eligible for graduation.</v-card-text>

              <v-card-text>Close this dialog to apply changes to your profile from evaluation.</v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="$router.go()">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Classes</v-toolbar-title>
          <v-checkbox slot="extension" :label="`Show All Classes`" v-model="isCurrentSemesterOnly"></v-checkbox>
          <v-spacer></v-spacer>
          <v-text-field
            color="white"
            v-model="searchQuery"
            placeholder="Enter your subject name here"
          ></v-text-field>
          <v-btn icon>
            <v-icon>search</v-icon>
          </v-btn>
        </v-toolbar>
        <template v-if="classResults.length !== 0">
          <v-layout row wrap :style="{ maxHeight: '400px', overflow: 'auto'}">
            <v-flex xs12 lg6 d-flex v-for="(subject, index) in classResults" :key="index">
              <v-card>
                <v-card-title primary-title class="title">{{ subject.subject.name }}</v-card-title>
                <v-card-title>A.Y. {{ subject.semester.schoolYear }} - {{ subject.semester.schoolYear + 1 }} --- Semester {{ subject.semester.instance }}</v-card-title>

                <v-card-title>{{ subject.professor.lastName }}, {{ subject.professor.firstName }} {{ subject.professor.middleName }}</v-card-title>
                <v-card-text>
                  <ul>
                    <li
                      v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim > 0"
                    >Prelims: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim }}</li>
                    <li
                      v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm > 0"
                    >Midterms: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm }}</li>
                    <li
                      v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal > 0"
                    >Prefinals: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal }}</li>
                    <li
                      v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final > 0"
                    >Finals: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final }}</li>
                    <li
                      v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim > 0 && subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm > 0 && subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal > 0 && subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final > 0"
                    >Final Grade: {{ ((subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim * 0.2 + subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm * 0.2 + subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal * 0.2 + subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final * 0.4).toFixed(2)) | transformGrade }}</li>
                    <li>Status: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.status }}</li>
                  </ul>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    dark
                    color="primary"
                    :to="`/${$store.state.userGroup}/class/${subject._id}`"
                  >Class Details</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <v-layout
            align-center
            justify-center
            row
            fill-height
            :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}"
          >
            <p class="display-2 text-xs-center">No classes found.</p>
          </v-layout>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import queryClasses from "../../mixins/queryClasses";
import getAssessment from "../../mixins/getAssessment";

export default {
  computed: {
    ...mapState([`user`]),
    query() {
      return this.user;
    },

    gpaAverage() {
      const gpaCountedGrades = this.query.classes
        .filter(subject => subject.subject.isCountedGPA === true)
        .map(subject =>
          this.transformGradeMethod(
            (
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.prelim *
                0.2 +
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.midterm *
                0.2 +
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.preFinal *
                0.2 +
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.final *
                0.4
            ).toFixed(2)
          )
        );
      const gpaAverage = (
        gpaCountedGrades.reduce(
          (accumulator, currentValue) => accumulator + currentValue * 3,
          0
        ) /
        (gpaCountedGrades.length * 3)
      ).toFixed(3);
      return gpaAverage;
    }
  },

  methods: {
    transformGradeMethod(value) {
      if (value < 50) {
        return 5.0;
      } else if (value <= 56) {
        return 3.0;
      } else if (value <= 62) {
        return 2.75;
      } else if (value <= 68) {
        return 2.5;
      } else if (value <= 74) {
        return 2.25;
      } else if (value <= 80) {
        return 2.0;
      } else if (value <= 85) {
        return 1.75;
      } else if (value <= 90) {
        return 1.5;
      } else if (value <= 95) {
        return 1.25;
      } else if (value <= 100) {
        return 1.0;
      }
    }
  },

  mixins: [queryClasses, getAssessment],

  filters: {
    transformGrade(value) {
      if (value < 50) {
        return `5.00`;
      } else if (value <= 56) {
        return `3.00`;
      } else if (value <= 62) {
        return `2.75`;
      } else if (value <= 68) {
        return `2.50`;
      } else if (value <= 74) {
        return `2.25`;
      } else if (value <= 80) {
        return `2.00`;
      } else if (value <= 85) {
        return `1.75`;
      } else if (value <= 90) {
        return `1.50`;
      } else if (value <= 95) {
        return `1.25`;
      } else if (value <= 100) {
        return `1.00`;
      }
    }
  }
};
</script>
