<template>
  <v-container fluid grid-list-lg>
    <v-layout row>
      <v-flex xs12 lg4 offset-lg4>
        <p
          class="display-1 font-weight-light"
        >{{ query.lastName }}, {{ query.firstName }} {{ query.middleName }}</p>

        <br>
        <v-divider></v-divider>
        <br>
        <p class="subheading">ID: {{ query._id }}</p>
        <v-btn
          color="primary"
          v-if="user.role === `Cashier`"
          @click="initializePaymentStatus"
        >Edit Payment Details</v-btn>
        <div>
          <v-dialog v-model="paymentDialog" persistent width="500">
            <v-card>
              <v-card-title
                class="headline red white--text"
                primary-title
              >Enrollment and Payment Status</v-card-title>

              <v-card-text>Click the switches below to change value, then press Confirm to finalize your changes.</v-card-text>
              <v-card-text>
                <v-switch v-model="isCurrentlyEnrolled" label="Is Currently Enrolled"></v-switch>
                <v-switch v-model="hasPaidPrelims" label="Has Paid Prelims"></v-switch>
                <v-switch v-model="hasPaidMidterms" label="Has Paid Midterms"></v-switch>
                <v-switch v-model="hasPaidFinals" label="Has Paid Finals"></v-switch>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="error"
                  :disabled="isSendingPaymentDetails"
                  flat
                  @click="paymentDialog = !paymentDialog"
                >Cancel</v-btn>
                <v-btn
                  color="primary"
                  :disabled="isSendingPaymentDetails"
                  :loading="isSendingPaymentDetails"
                  flat
                  @click="updatePayment"
                >Confirm</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
        <template v-if="user.role===`Registrar`">
          <p class="subheading">E-mail: {{ query.email }}</p>
          <v-divider></v-divider>
          <br>
          <p class="subheading">Birthday: {{ (new Date(query.birthday)).toDateString() }}</p>
          <p class="subheading">Gender: {{ query.gender | capitalize }}</p>
          <p class="subheading">Civil Status: {{ query.civilStatus }}</p>
          <p
            class="subheading"
          >Address: {{ `${query.houseNumber} ${query.street} St., Brgy. ${query.barangay}, ${query.city}, ${query.province}` }}</p>
          <v-divider></v-divider>
          <br>
          <p class="subheading">Course: {{ query.curriculum.course }}</p>
          <router-link
            class="subheading"
            :to="`/${$store.state.userGroup}/semester/${query.curriculum._id}`"
            :style="{cursor: 'pointer'}"
            tag="p"
          >Curriculum: {{ query.curriculum.year }}</router-link>
          <p class="subheading">Year Level: {{ query.yearLevel }}</p>
          <p class="subheading">
            Regular Student:
            <span
              :class="query.isRegular ? `green--text` : `red--text`"
            >{{ query.isRegular ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">GPA Average: {{ gpaAverage }}</p>
          <v-divider></v-divider>
          <br>
          <p class="subheading">
            Currently Enrolled:
            <span
              :class="query.enrollmentStatus.isCurrentlyEnrolled ? `green--text` : `red--text`"
            >{{ query.enrollmentStatus.isCurrentlyEnrolled ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            is Prelims Paid?:
            <span
              :class="query.enrollmentStatus.hasPaidPrelims ? `green--text` : `red--text`"
            >{{ query.enrollmentStatus.hasPaidPrelims ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            is Midterms Paid?:
            <span
              :class="query.enrollmentStatus.hasPaidMidterms ? `green--text` : `red--text`"
            >{{ query.enrollmentStatus.hasPaidMidterms ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            is Finals Paid?:
            <span
              :class="query.enrollmentStatus.hasPaidFinals ? `green--text` : `red--text`"
            >{{ query.enrollmentStatus.hasPaidFinals ? `Yes` : `No` }}</span>
          </p>
          <v-divider></v-divider>
          <br>
          <div>
            <v-dialog v-model="dialog" width="500">
              <v-card>
                <v-card-title class="headline red white--text" primary-title>Confirmation</v-card-title>

                <v-card-text>Do you really with to delete this account? Once you proceed, the information will be lost forever!</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="deleteUser">I accept</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <br>

          <p class="headline">Credentials</p>
          <div v-for="(credential, index) in query.credentials" :key="index">
            <div class="subheading">
              <v-layout row wrap>
                <v-flex xs12>
                  <span>School Name: {{credential.schoolName}}</span>
                </v-flex>
                <v-flex xs12>
                  <span>Year Graduated: {{credential.yearGraduated}}</span>
                </v-flex>
                <v-flex xs12>
                  <span>Educational Level: {{credential.educationalLevel}}</span>
                </v-flex>
              </v-layout>
            </div>
            <br>
            <br>
          </div>
          <br>
          <br>
          <v-divider></v-divider>
          <p class="headline">Files</p>
          <br>
          <p class="subheading">
            Form 137A?:
            <span
              :class="query.form137A ? `green--text` : `red--text`"
            >{{ query.form137A ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            Form 138?:
            <span
              :class="query.form138 ? `green--text` : `red--text`"
            >{{ query.form138 ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            Good Moral Character?:
            <span
              :class="query.GMC ? `green--text` : `red--text`"
            >{{ query.GMC ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            ALS Certificate?:
            <span
              :class="query.ALS ? `green--text` : `red--text`"
            >{{ query.ALS ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            NCAE Results?:
            <span
              :class="query.NCAEResult ? `green--text` : `red--text`"
            >{{ query.NCAEResult ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            Birth Certificate?:
            <span
              :class="query.BC ? `green--text` : `red--text`"
            >{{ query.BC ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            Transcript of Records??:
            <span
              :class="query.TOR ? `green--text` : `red--text`"
            >{{ query.TOR ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            True copy of Grades?:
            <span
              :class="query.TCG ? `green--text` : `red--text`"
            >{{ query.TCG ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            Honorable Dismissal?:
            <span
              :class="query.honorableDismissal ? `green--text` : `red--text`"
            >{{ query.honorableDismissal ? `Yes` : `No` }}</span>
          </p>
          <p class="subheading">
            Pictures?:
            <span
              :class="query.pictures ? `green--text` : `red--text`"
            >{{ query.pictures ? `Yes` : `No` }}</span>
          </p>
          <v-divider></v-divider>
          <br>
          <br>
          <v-btn
            color="primary"
            :to="`/${this.$store.state.userGroup}/${this.type}/${this.$route.params.id}/edit`"
          >Edit Profile</v-btn>
          <v-btn color="error" @click="dialog = !dialog">Delete Profile</v-btn>
          <v-btn
            outline
            color="primary"
            @click="getAssessment"
            :loading="isLoadingAssessment"
            :disabled="isLoadingAssessment"
          >Get Evaluation</v-btn>
          <v-btn color="info" @click="filesDialog = !filesDialog">Manage Files</v-btn>
          <v-dialog v-model="filesDialog" width="500">
            <v-card>
              <v-card-title class="title" primary-title>Manage files for this student</v-card-title>
              <v-switch v-model="form137A" label="Has form137A?"></v-switch>
              <v-switch v-model="form138" label="Has form138?"></v-switch>
              <v-switch v-model="GMC" label="Has Good Moral Character?"></v-switch>
              <v-switch v-model="ALS" label="Has ALS certificate?"></v-switch>
              <v-switch v-model="NCAEResult" label="Has NCAE result?"></v-switch>
              <v-switch v-model="BC" label="Has Birth Certificate?"></v-switch>
              <v-switch v-model="TOR" label="Has Transcript of Records?"></v-switch>
              <v-switch v-model="TCG" label="Has True Copy of Grades?"></v-switch>
              <v-switch v-model="honorableDismissal" label="Has Honorable Dismissal?"></v-switch>
              <v-switch v-model="pictures" label="Has Pictures?"></v-switch>
              <v-card-actions>
                <v-btn color="primary" @click="sendFilesToServer">Submit</v-btn>
                <upload title="Attachments" :fileChangedCallback="attachmentFile">
                  <template slot="icon-left">
                    <v-icon dark>cloud_upload</v-icon>
                  </template>
                </upload>
                <v-btn v-if="query.attachment" color="info" @click="downloadAttachment">
                  <v-icon dark>cloud_download</v-icon>Get Attachment
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <div>
            <v-dialog v-model="assessmentDialog" width="500" v-if="assessment">
              <v-card>
                <v-card-title class="headline blue white--text" primary-title>Evaluation</v-card-title>

                <v-card-text v-if="assessment.regular">
                  <p>These subjects are needed to be a regular student again:</p>
                  <ul>
                    <li v-for="(subject, index) in assessment.regular" :key="index">
                      {{ subject.classCode }} - {{ subject.name }} - {{ subject.units.lecture }} Lecture
                      <span
                        v-if="subject.units.laboratory"
                      >/ {{ subject.units.laboratory }} Laboratory</span> Units
                    </li>
                  </ul>
                </v-card-text>
                <v-card-text v-else>This student is a regular student.</v-card-text>
                <v-card-text v-if="assessment.subjects.length !== 0">
                  <p>These are the subjects this student is allowed to enroll:</p>
                  <ul>
                    <li v-for="(subject, index) in assessment.subjects" :key="index">
                      {{ subject.classCode }} - {{ subject.name }} - {{ subject.units.lecture }} Lecture
                      <span
                        v-if="subject.units.laboratory"
                      >/ {{ subject.units.laboratory }} Laboratory</span> Units
                    </li>
                  </ul>
                </v-card-text>

                <v-card-text
                  v-if="assessment.subjects.length === 0"
                >This student has completed all the subjects in the curriculum. Now eligible for graduation.</v-card-text>

                <v-card-text>Close this dialog to apply changes to this profile from evaluation.</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="$router.go()">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>Classes</v-toolbar-title>
            <v-checkbox
              slot="extension"
              :label="`Show All Classes`"
              v-model="isCurrentSemesterOnly"
            ></v-checkbox>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-text-field
              color="white"
              v-model="searchQuery"
              placeholder="Enter your subject name here"
            ></v-text-field>
            <v-btn icon>
              <v-icon>search</v-icon>
            </v-btn>
          </v-toolbar>

          <template v-if="classResults.length !== 0">
            <v-layout row wrap :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}">
              <v-flex xs12 lg6 v-for="(subject, index) in classResults" :key="index">
                <v-card>
                  <v-card-title primary-title class="title">{{ subject.subject.name }}</v-card-title>
                  <v-card-title>A.Y. {{ subject.semester.schoolYear }} - {{ subject.semester.schoolYear + 1 }} --- Semester {{ subject.semester.instance }}</v-card-title>

                  <v-card-title>{{ subject.professor.lastName }}, {{ subject.professor.firstName }} {{ subject.professor.middleName }}</v-card-title>
                  <v-card-text>
                    <ul>
                      <li
                        v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim > 0"
                      >Prelims: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim }}</li>
                      <li
                        v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm > 0"
                      >Midterms: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm }}</li>
                      <li
                        v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal > 0"
                      >Prefinals: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal }}</li>
                      <li
                        v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final > 0"
                      >Finals: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final }}</li>
                      <li
                        v-if="subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim > 0 && subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm > 0 && subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal > 0 && subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final > 0"
                      >Final Grade: {{ ((subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.prelim * 0.2 + subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.midterm * 0.2 + subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.preFinal * 0.2 + subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.final * 0.4).toFixed(2)) | transformGrade }}</li>
                      <li>Status: {{ subject.attendees.filter(attendee => attendee.student._id === query._id)[0].grade.status }}</li>
                    </ul>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      dark
                      color="primary"
                      :to="`/${$store.state.userGroup}/class/${subject._id}`"
                    >Class Details</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </template>
          <template v-else>
            <v-layout
              align-center
              justify-center
              row
              fill-height
              :style="{ minHeight: '400px', maxHeight: '400px', overflow: 'auto'}"
            >
              <p class="display-2 text-xs-center">No classes found.</p>
            </v-layout>
          </template>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UploadButton from "vuetify-upload-button";
import updateID from "../../mixins/updateID";
import queryClasses from "../../mixins/queryClasses";
import getAssessment from "../../mixins/getAssessment";
import { mapState } from "vuex";

export default {
  components: {
    upload: UploadButton
  },

  data() {
    return {
      paymentDialog: false,
      isSendingPaymentDetails: false,
      isCurrentlyEnrolled: false,
      hasPaidPrelims: null,
      hasPaidMidterms: null,
      hasPaidFinals: null,
      filesDialog: false,
      form137A: null,
      form138: null,
      GMC: null,
      ALS: null,
      NCAEResult: null,
      BC: null,
      TOR: null,
      TCG: null,
      pictures: null,
      honorableDismissal: null,
      attachment: null
    };
  },

  computed: {
    ...mapState([`user`]),

    gpaAverage() {
      const gpaCountedGrades = this.query.classes
        .filter(subject => subject.subject.isCountedGPA === true)
        .map(subject =>
          this.transformGradeMethod(
            (
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.prelim *
                0.2 +
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.midterm *
                0.2 +
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.preFinal *
                0.2 +
              subject.attendees.filter(
                attendee => attendee.student._id === this.query._id
              )[0].grade.final *
                0.4
            ).toFixed(2)
          )
        );
      const gpaAverage = (
        gpaCountedGrades.reduce(
          (accumulator, currentValue) => accumulator + currentValue * 3,
          0
        ) /
        (gpaCountedGrades.length * 3)
      ).toFixed(3);

      return gpaAverage;
    }
  },

  methods: {
    downloadAttachment() {
      let win = window.open(
        `${this.$store.state.url}/${this.$store.state.userGroup}/api/files/${
          this.query.attachment
        }`,
        "_blank"
      );
      win.focus();
    },

    transformGradeMethod(value) {
      if (value < 50) {
        return 5.0;
      } else if (value <= 56) {
        return 3.0;
      } else if (value <= 62) {
        return 2.75;
      } else if (value <= 68) {
        return 2.5;
      } else if (value <= 74) {
        return 2.25;
      } else if (value <= 80) {
        return 2.0;
      } else if (value <= 85) {
        return 1.75;
      } else if (value <= 90) {
        return 1.5;
      } else if (value <= 95) {
        return 1.25;
      } else if (value <= 100) {
        return 1.0;
      }
    },

    attachmentFile(attachment) {
      this.attachment = attachment;
      this.attachmentName = attachment.name;
    },

    sendFilesToServer() {
      const formData = new FormData();

      if (this.attachment) {
        formData.append("attachment", this.attachment);
      }
      formData.append("form137A", this.form137A);
      formData.append("form138", this.form138);
      formData.append("GMC", this.GMC);
      formData.append("ALS", this.ALS);
      formData.append("NCAEResult", this.NCAEResult);
      formData.append("BC", this.BC);
      formData.append("TOR", this.TOR);
      formData.append("TCG", this.TCG);
      formData.append("honorableDismissal", this.honorableDismissal);
      formData.append("pictures", this.pictures);

      this.axios
        .patch(
          `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
            this.type
          }/${this.id}`,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data"
            },
            withCredentials: true
          }
        )
        .then(() => this.$router.go())
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    },

    initializePaymentStatus() {
      this.isCurrentlyEnrolled = this.query.enrollmentStatus.isCurrentlyEnrolled;
      this.hasPaidPrelims = this.query.enrollmentStatus.hasPaidPrelims;
      this.hasPaidMidterms = this.query.enrollmentStatus.hasPaidMidterms;
      this.hasPaidFinals = this.query.enrollmentStatus.hasPaidFinals;
      this.paymentDialog = true;
    },

    updatePayment() {
      this.isSendingPaymentDetails = true;
      const payload = {
        enrollmentStatus: {
          isCurrentlyEnrolled: this.isCurrentlyEnrolled,
          hasPaidPrelims: this.hasPaidPrelims,
          hasPaidMidterms: this.hasPaidMidterms,
          hasPaidFinals: this.hasPaidFinals
        }
      };

      this.axios
        .patch(
          `${this.$store.state.url}/${this.$store.state.userGroup}/api/${
            this.type
          }/${this.id}/payment`,
          payload,
          { withCredentials: true }
        )
        .then(() => {
          this.isSendingPaymentDetails = false;
          this.paymentDialog = false;
          this.$router.go();
        })
        .catch(() => {
          this.$store.dispatch(`logout`);
          this.$router.push(`/`);
        });
    }
  },

  mixins: [updateID, queryClasses, getAssessment],

  filters: {
    transformGrade(value) {
      if (value < 50) {
        return `5.00`;
      } else if (value <= 56) {
        return `3.00`;
      } else if (value <= 62) {
        return `2.75`;
      } else if (value <= 68) {
        return `2.50`;
      } else if (value <= 74) {
        return `2.25`;
      } else if (value <= 80) {
        return `2.00`;
      } else if (value <= 85) {
        return `1.75`;
      } else if (value <= 90) {
        return `1.50`;
      } else if (value <= 95) {
        return `1.25`;
      } else if (value <= 100) {
        return `1.00`;
      }
    }
  }
};
</script>
