<template>
  <v-app>
    <app-navbar></app-navbar>
    <app-side-nav v-if="$store.state.isLoggedIn"></app-side-nav>
    <v-content>
      <router-view></router-view>
    </v-content>
    <app-footer class="mt-5"></app-footer>
  </v-app>
</template>

<script>
import Navbar from "./views/Navbar.vue";
import Footer from "./views/Footer.vue";
import SideNav from "./views/SideNav.vue";
export default {
  data() {
    return {
      isLoggedIn: false
    };
  },
  components: {
    appNavbar: Navbar,
    appFooter: Footer,
    appSideNav: SideNav
  }
};
</script>
